<!--==============================
        Footer Area 03
==============================-->
<footer class="footer-wrapper footer-layout3 overflow-hidden" data-bg-src="assets/img/footer/footer_bg_3.png">

    <div class="subscribe-bg"><img src="assets/img/bg/footer-subscribe-bg.png" alt="subscribe-bg"></div>
    <div class="container">
        <div class="footer-top style2">
            <div class="row align-items-center gx-0">
                <div class="col-12 d-flex justify-content-center">
                    <div class="newsletter-wrap">
                        <div class="newsletter-content">
                            <h2 class="newsletter-title">Subscribe to NewsLetter</h2>
                            <span>Get 10% off your first order! Hurry up</span>
                        </div>
                        <form class="subscribe-form mx-auto">
                            <div class="form-group">
                                <input class="form-control" type="email" placeholder="Enter Email Address" required="">
                            </div>
                            <button type="submit" class="th-btn style2">SUBSCRIBE</button>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="widget-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-xxl-3 col-xl-3">
                    <div class="widget footer-widget">
                        <img src="assets/img/logo-2.svg" alt="footer-logo">
                        <div class="th-widget-about">

                            <p class="about-text">Begin with a thorough assessment of your current fitness level,
                                considering factors like strength, flexibility.</p>

                            <div class="footer-info">
                                <h5><span>Call Us Anytime:</span>+1 635-698-2541</h5>
                                <h5><span>Email Us:</span>info@fitkit.com</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Quick Links</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu2">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="gallery.html">Our Gallery</a></li>
                                <li><a href="service.html">Our Services</a></li>
                                <li><a href="blog.html">Our Blog</a></li>
                                <li><a href="contact.html">Contact Us</a></li></a></li>
                                <li><a href="appointment.html">Appointment</a></li>
                                <li><a href="faq.html">Faq</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Our Service</h3>
                        <div class="menu-all-services-container">
                            <ul class="menu3">
                                <li><a href="fitness-class-details.html">Personal Training</a></li>
                                <li><a href="fitness-class-details.html"> Group Training</a></li>
                                <li><a href="fitness-class-details.html">Muscle Building</a></li>
                                <li><a href="fitness-class-details.html">Virtual Gym Training</a></li>
                                <li><a href="fitness-class-details.html">Weightless Training</a></li>
                                <li><a href="fitness-class-details.html">Body Stretching</a></li>
                                <li><a href="fitness-class-details.html">Psycho Training</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Gallery Photos</h3>
                        <div class="gallery-photo-wrap">
                            <div class="gallery">
                                <div class="media-img">
                                    <a href="gallery.html"><img src="assets/img/widget/gal-1-1.png"
                                            alt="gallery Image"></a>
                                </div>
                                <div class="media-img">
                                    <a href="gallery.html"><img src="assets/img/widget/gal-1-2.png"
                                            alt="gallery Image"></a>
                                </div>
                            </div>
                            <div class="gallery">
                                <div class="media-img">
                                    <a href="gallery.html"><img src="assets/img/widget/gal-1-3.png"
                                            alt="gallery Image"></a>
                                </div>
                                <div class="media-img">
                                    <a href="gallery.html"><img src="assets/img/widget/gal-1-4.png"
                                            alt="gallery Image"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap style2">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6">
                    <p class="copyright-text"><i class="fal fa-copyright me-1"></i>Copyright 2024 <a
                            href="https://themeforest.net/user/themeholy">Fitkit.</a> All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 text-end d-none d-lg-block">
                    <div class="th-social">
                        <a href="www.facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
                        <a href="www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
                        <a href="www.linkedin.com"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>