<!--==============================
        Footer Area 02
==============================-->
<footer class="footer-wrapper footer-layout2 overflow-hidden" data-bg-src="assets/img/footer/footer2_bg.png">   
    <div class="container">
        <div class="footer-top"> 
            <div class="row align-items-center gx-20">
                <div class="col-xl-6"> 
                    <div class="footer-top_call-info">
                        <div class="footer-top_call-info_icon">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <div class="footer-top_call-info_info">
                            <span class="text"> Call Us Anytime: </span>
                            <span class="number"> +1 635-698-2541 </span>
                        </div> 
                    </div>
                </div>
                <div class="col-xl-6"> 
                    <div class="footer-top_email-info">
                        <div class="footer-top_email-info_info">
                            <span class="text">Email Us:</span>
                            <span class="email">info@fitkit.com</span>
                        </div>
                        <div class="footer-top_email-info_icon">
                            <i class="fa-solid fa-envelope"></i>
                        </div> 
                    </div>

                </div>
            </div> 
        </div>
    </div>
    <div class="widget-area pb-90">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-xxl-3 col-xl-3">
                    <div class="widget footer-widget">
                        <img src="assets/img/logo-2.svg" alt="footer-logo">
                        <div class="th-widget-about">
                            
                            <p class="about-text">Begin with a thorough assessment of your current fitness level, considering factors like strength, flexibility.</p>
                            <div class="social-title">
                                Social Network:
                            </div>
                            <div class="th-social pt-2">
                                <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="https://www.twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                                <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                                <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Quick Links</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu2">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="gallery.html">Our Gallery
                                </a></li>
                                <li><a href="service.html">Our Services
                                </a></li>
                                <li><a href="blog.html">Our Blog
                                </a></li>
                                <li><a href="contact.html">Contact Us</a></li> 
                                <li><a href="blog.html">Appointment
                                </a></li> 
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Our Service</h3>
                        <div class="menu-all-services-container"> 
                            <ul class="menu3">
                                <li><a href="fitness-class-details.html">Personal Training</a></li>
                                <li><a href="fitness-class-details.html"> Group Training</a></li>
                                <li><a href="fitness-class-details.html">Muscle Building</a></li>
                                <li><a href="fitness-class-details.html">Virtual Gym Training</a></li> 
                                <li><a href="fitness-class-details.html">Weightless Training</a></li>
                                <li><a href="fitness-class-details.html">Body Stretching</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Recent Post</h3>
                        <div class="recent-post-wrap">
                            <div class="recent-post">
                                <div class="media-img">
                                    <a href="blog-details.html"><img src="assets/img/widget/footer-recent-post-1.png" alt="Blog Image"></a>
                                </div>
                                <div class="media-body">
                                    <h4 class="post-title"><a class="text-inherit" href="blog-details.html">Fitness Workouts for a Healthier You</a></h4>
                                    <div class="recent-post-meta">
                                        <a href="blog-details.html"><i class="fa-regular fa-calendar"></i>5th May, 2024</a>
                                    </div>
                                </div>
                            </div>
                            <div class="recent-post">
                                <div class="media-img">
                                    <a href="blog-details.html"><img src="assets/img/widget/footer-recent-post-2.png" alt="Blog Image"></a>
                                </div>
                                <div class="media-body">
                                    <h4 class="post-title"><a class="text-inherit" href="blog-details.html">Fitness Workouts for a Healthier You</a></h4>
                                    <div class="recent-post-meta">
                                        <a href="blog-details.html"><i class="fa-regular fa-calendar"></i>5th June, 2024</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                  
            </div>
        </div>
    </div>
    <div class="copyright-wrap" style="background: #1B1F29; border-color: #2A2F3D;">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <p class="copyright-text"><i class="fal fa-copyright me-1"></i>Copyright 2024 <a href="https://themeforest.net/user/themeholy">Fitkit.</a> All Rights Reserved.</p>
                </div> 
            </div>            
        </div>
    </div>
</footer>