<!--==============================
        Footer Area
==============================-->
<footer class="footer-wrapper footer-layout1 overflow-hidden">
    <div class="widget-area space2-bottom position-relative pt-300">
        <!-- Absolute images and shapes -->
        <div class="absolute-images  d-none d-lg-block">
            <img  class="absolute-images absolute-img1" src="assets/img/footer/man.jpg" alt="man">
            <img  class="absolute-images absolute-img2 ripple" src="assets/img/footer/footer_shape1.jpg" alt="man">
            <img  class="absolute-images absolute-img3 movingX" src="assets/img/footer/footer_shape2.jpg" alt="man">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="logo-wrapper mb-60">
                        <div class="footer-logo mb-40">
                            <a href="index.html"><img src="assets/img/logo-2.svg" alt="Fitkit"></a>
                        </div>
                        <p>Treadmills, stationary bikes, and elliptical machines are commonly used for cardiovascular
                            <br> workouts, helping to improve endurance, burn calories, and enhance heart health.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mb-30">
                <div class="col-auto p-0">
                    <a class="footer-links style1" href="index.html">HOME</a>
                </div>
                <div class="col-auto p-0">
                    <a class="footer-links" href="about.html">ABOUT</a>
                </div>
                <div class="col-auto p-0">
                    <a class="footer-links" href="services.html">SERVICES</a>
                </div>
                <div class="col-auto p-0">
                    <a class="footer-links" href="gallery.html">GALLERY</a>
                </div>
                <div class="col-auto p-0">
                    <a class="footer-links" href="blog.html">BLOG</a>
                </div>
                <div class="col-auto p-0">
                    <a class="footer-links style2" href="contact.html">CONTACT</a>
                </div>
            </div>
            <div class="row justify-content-center mb-30 mx-auto"> 

                <div class="col-xl-12">
                    <div class="subscribe-wrapper d-flex justify-content-center">
                        <div class="input-btn">
                            <input type="email" placeholder="Enter your mail address....">
                        </div>
                        <div class="btn-wrapper ml-10 justify-content-start">
                            <button class="th-btn style4">Subscribe</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="th-social d-flex justify-content-center">
                        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="https://www.goggle.com/"><i class="fa-brands fa-google"></i></a>
                        <a href="https://www.twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                        <a href="https://www.pinterest.com/"><i class="fa-brands fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="copyright-text"><i class="fal fa-copyright me-1"></i>Copyright 2024 <a
                            href="https://themeforest.net/user/themeholy">Fitkit.</a> All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer> 
</div>