<!--==============================
    About Area 2 
==============================-->
<div class="about-area2 space-bottom overflow-hidden">
    <div class="container">
        <div class="about-wrap style2"> 
            <div class="row gy-40">
                <div class="col-lg-5 col-xl-6">
                    <div class="image">
                        <img src="assets/img/about/about_2.png" alt="about-img">
                    </div>
                </div>
                <div class="col-lg-7 col-xl-6"> 
                    <div class="title-area mb-0"> 
                        <span class="sub-title"><span class="single-line"></span>About Us</span>
                        <h2 class="sec-title text-white">Unleashing Potential with Intense Fitness Workouts</h2> 
                        <div class="about-wrap_group">  
                                <div>
                                    <p>Many individuals benefit from personalized workout plans designed by fitness professionals or personal trainers to address specific fitness goals, such as muscle gain, weight loss, or improved athletic performance.</p>
                                    <div class="feature_wrapper pt-10">
                                        <p class="feature">Over 15 years of experience</p>
                                        <p class="feature">Certified Trainers</p>
                                        <p class="feature">Exceptional work quality</p>
                                    </div>
                                    
                                    <div class="btn-group">
                                        <a class="th-btn style2" href="about.html">Get Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>