<!--==============================
    Blog Area 2  
==============================-->
<section class="blog-area2 space overflow-hidden" id="blog-sec" data-bg-src="assets/img/bg/blog_bg_1.png">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title"><span class="double-line"></span>Blog Posts</span>
            <h2 class="sec-title text-white">Our Latest News & Articles</h2>
        </div>
        <div class="blog-slider row gy-40">
            <div class="col-md-6 col-xl-4">
                <div class="blog-card style2"> 
                    <div class="blog-content"> 
                        <div class="blog-meta">
                            <a href="blog.html"><i class="far fa-user"></i>By Jonson</a>
                            <a href="blog.html"><i class="far fa-calendar"></i>12 Jan, 2024</a>
                        </div>
                        <h3 class="blog-title"><a href="blog-details.html">10 Proven Tips Goals</a>
                        </h3>
                        <p class="blog-text">2 Proven Tips for Setting Effective Fitness Goals
                            1.Use the SMART Framework. 2.Break Goals into Manageable Milestones.</p>
                        <a href="blog-details.html" class="line-btn">Read More <i class="fa-sharp fa-solid fa-arrow-right"></i></a>
                    </div>
                    <div class="blog-img">
                        <img src="assets/img/blog/blog_2_1.png" alt="blog image">
                    </div> 
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="blog-card style2">
                    <div class="blog-content"> 
                        <div class="blog-meta">
                            <a href="blog.html"><i class="far fa-user"></i>By Jonson</a>
                            <a href="blog.html"><i class="far fa-calendar"></i>12 Jan, 2024</a>
                        </div>
                        <h3 class="blog-title"><a href="blog-details.html">What Really Works?</a>
                        </h3>
                        <p class="blog-text">Achieving fitness goals requires a combination of effective strategies and a mindset that have proven to work 
                         Consistency Over Intensity</p>
                        <a href="blog-details.html" class="line-btn">Read More <i class="fa-sharp fa-solid fa-arrow-right"></i></a>
                    </div> 
                    <div class="blog-img">
                        <img src="assets/img/blog/blog_2_2.png" alt="blog image">
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="blog-card style2">
                    <div class="blog-content"> 
                        <div class="blog-meta">
                            <a href="blog.html"><i class="far fa-user"></i>By Jonson</a>
                            <a href="blog.html"><i class="far fa-calendar"></i>12 Jan, 2024</a>
                        </div>
                        <h3 class="blog-title"><a href="blog-details.html">Workouts in Room</a>
                        </h3>
                        <p class="blog-text">Workout:

                            Push-Ups - 3 sets of 10-15 reps
                            Squats - 3 sets of 15-20 reps
                            Plank - 3 sets of 30-60 seconds   
                            Cool Down (3-5 minutes).</p>
                        <a href="blog-details.html" class="line-btn">Read More <i class="fa-sharp fa-solid fa-arrow-right"></i></a>
                    </div> 
                    <div class="blog-img">
                        <img src="assets/img/blog/blog_2_3.png" alt="blog image">
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>