<!--==============================
    Blog Area 04
==============================-->
<div class="blog-page-area space overflow-hidden">
    <div class="container">
        <div class="row gx-40">
            <div class="col-xl-8 col-lg-7">
                <div class="blog-card style4">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="assets/img/blog/blog_s1_1.png" alt="Blog Image"></a>
                    </div>
                    <div class="blog-content"> 
                        <div class="blog-meta">
                            <a href="blog.html"><i class="far fa-user"></i>By Jonson</a>
                            <a href="blog.html"><i class="far fa-calendar"></i>12 Jan, 2024</a>
                        </div>
                        <h2 class="blog-title"><a href="blog-details.html">Best 50 Tips For Fitness and Gym training.</a></h2>
                        <p>Fitness and gym culture have become integral components of a modern, health-conscious lifestyle. Engaging in regular fitness activities and gym workouts offers a multitude of physical, mental, and social benefits. The gym, often a fitness sanctuary, is equipped.</p>
                        <a href="blog-details.html" class="th-btn style8">Read More</a>
                    </div>
                </div> 

                <div class="blog-card style4 mt-40">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="assets/img/blog/blog_s1_2.png" alt="Blog Image"></a>
                    </div>
                    <div class="blog-content"> 
                        <div class="blog-meta">
                            <a href="blog.html"><i class="far fa-user"></i>By Jonson</a>
                            <a href="blog.html"><i class="far fa-calendar"></i>12 Jan, 2024</a>
                        </div>
                        <h2 class="blog-title"><a href="blog-details.html">Best 50 Tips For Fitness and Gym training.</a></h2>
                        <p>Fitness and gym culture have become integral components of a modern, health-conscious lifestyle. Engaging in regular fitness activities and gym workouts offers a multitude of physical, mental, and social benefits. The gym, often a fitness sanctuary, is equipped.</p>
                        <a href="blog-details.html" class="th-btn style8">Read More</a>
                    </div>
                </div> 

                <div class="blog-card style4 mt-40"> 
                    <div class="blog-content"> 
                        <div class="blog-meta">
                            <a href="blog.html"><i class="far fa-user"></i>By Jonson</a>
                            <a href="blog.html"><i class="far fa-calendar"></i>12 Jan, 2024</a>
                        </div>
                        <h2 class="blog-title"><a href="blog-details.html">Best 50 Tips For Fitness and Gym training.</a></h2>
                        <p>Fitness and gym culture have become integral components of a modern, health-conscious lifestyle. Engaging in regular fitness activities and gym workouts offers a multitude of physical, mental, and social benefits. The gym, often a fitness sanctuary, is equipped.</p>
                        <a href="blog-details.html" class="th-btn style8">Read More</a>
                    </div>
                </div> 

                
                <div class="blog-card style4 mt-40">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="assets/img/blog/blog_s1_3.png" alt="Blog Image"></a>
                    </div>
                    <div class="blog-content"> 
                        <div class="blog-meta">
                            <a href="blog.html"><i class="far fa-user"></i>By Jonson</a>
                            <a href="blog.html"><i class="far fa-calendar"></i>12 Jan, 2024</a>
                        </div>
                        <h2 class="blog-title"><a href="blog-details.html">Best 50 Tips For Fitness and Gym training.</a></h2>
                        <p>Fitness and gym culture have become integral components of a modern, health-conscious lifestyle. Engaging in regular fitness activities and gym workouts offers a multitude of physical, mental, and social benefits. The gym, often a fitness sanctuary, is equipped.</p>
                        <a href="blog-details.html" class="th-btn style8">Read More</a>
                    </div>
                </div> 

                <!-- Pagination -->
                <div class="pagination justify-content-start">
                    <a href="blog.html"> <i class="fa-sharp fa-regular fa-arrow-left"></i> </a>
                    <a class="active" href="blog.html"> 1 </a>
                    <a href="blog.html"> 2 </a>
                    <a href="blog.html"> <i class="fa-sharp fa-regular fa-arrow-right"></i> </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <aside class="sidebar-area">
                    <div class="widget widget_search">
                        <form class="search-form">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><i class="far fa-search"></i></button>
                        </form>
                    </div>
                    <div class="widget widget_categories">
                        <h3 class="widget_title">All Categories</h3>
                        <ul>
                            <li>
                                <a href="blog.html">Body Balance</a>
                            </li>
                            <li>
                                <a href="blog.html">Beginner Pilates</a>
                            </li>
                            <li>
                                <a href="blog.html">Gym &amp; Fitness</a>
                            </li>
                            <li>
                                <a href="blog.html">Cardio Strength</a>
                            </li>
                            <li>
                                <a href="blog.html">Muscle Building</a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h3 class="widget_title">Recent Posts</h3>
                        <div class="recent-post-wrap">
                            <div class="recent-post">
                                <div class="media-img">
                                    <a href="blog-details.html"><img src="assets/img/blog/recent-post-1-1.png" alt="Blog Image"></a>
                                </div>
                                <div class="media-body">
                                    <h4 class="post-title"><a class="text-inherit" href="blog-details.html">They take pride in their meticulous</a></h4>
                                    <div class="recent-post-meta">
                                        <a href="blog.html"><i class="fal fa-calendar-alt"></i>13 Jan, 2024</a>
                                    </div>
                                </div>
                            </div>
                            <div class="recent-post">
                                <div class="media-img">
                                    <a href="blog-details.html"><img src="assets/img/blog/recent-post-1-2.png" alt="Blog Image"></a>
                                </div>
                                <div class="media-body">
                                    <h4 class="post-title"><a class="text-inherit" href="blog-details.html">They take pride in their meticulous</a></h4>
                                    <div class="recent-post-meta">
                                        <a href="blog.html"><i class="fal fa-calendar-alt"></i>13 Jan, 2024</a>
                                    </div>
                                </div>
                            </div>
                            <div class="recent-post">
                                <div class="media-img">
                                    <a href="blog-details.html"><img src="assets/img/blog/recent-post-1-3.png" alt="Blog Image"></a>
                                </div>
                                <div class="media-body">
                                    <h4 class="post-title"><a class="text-inherit" href="blog-details.html">They take pride in their meticulous</a></h4>
                                    <div class="recent-post-meta">
                                        <a href="blog.html"><i class="fal fa-calendar-alt"></i>13 Jan, 2024</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="widget widget_tag_cloud">
                        <h3 class="widget_title">Popular Tags</h3>
                        <div class="tagcloud">
                            <a href="blog.html">Fitness</a>
                            <a href="blog.html">Gym</a>
                            <a href="blog.html">Body</a>
                            <a href="blog.html">Muscle</a>
                            <a href="blog.html">Yoga</a>
                            <a href="blog.html">Boxing</a> 
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>