<!--==============================
    Blog Area  
==============================-->
<section class="blog-area space-top space-bottom overflow-hidden" id="blog-sec">
    <div class="container">

        <div class="row d-flex align-items-center">
            <div class="col-12 col-xl-9">
                <div class="title-area text-left mb-30"> 

                    <span class="sub-title"><span class="single-line"></span> Blog Posts </span>
                <h2 class="sec-title mb-30">Our Latest News & Articles</h2>
            </div>
            </div>
            <div class="col-12 col-xl-3 d-flex justify-content-lg-start justify-content-xl-end align-items-center"> 
                <div class="btn-wrapper intro-btn">
                    <a href="blog.html" class="th-btn">View All Post<i
                            class="fas fa-arrow-right ms-2"></i></a>
                </div>
            </div>
        </div>


        <div class="row gy-30">
            <div class="col-md-6 col-xl-6">
                <div class="blog-card">
                    <div class="blog-img">
                        <img src="assets/img/blog/blog_1_1.png" alt="blog image">
                    </div>
                    <div class="blog-content"> 
                        <div class="blog-meta">
                            <a href="blog.html"><i class="fa-sharp fa-light fa-user"></i> By Jacklis</a>
                            <a href="blog.html"><i class="fa-sharp fa-light fa-calendar"></i> 12 Jan, 2024 </a>
                            <a href="blog.html"><i class="fa-sharp fa-light fa-comment"></i>3 Comments</a>
                        </div>
                        <h3 class="blog-title"><a href="blog-details.html">Best 50 Tips For Gym Fitness.</a>
                        </h3>
                        <p class="blog-text">Find a workout buddy or join a fitness community for support. Keep your workouts varied and fun to avoid boredom. Tracking your progress can also provide a sense of accomplishment and keep you committed.</p>
                        <div class="btn-wrapper justify-content-start">
                            <a href="blog-details.html" class="th-btn">Read More</a>
                        </div>
                    </div> 
                </div>
            </div>

            <div class="col-md-6 col-xl-6">
                <div class="blog-card">
                    <div class="blog-img">
                        <img src="assets/img/blog/blog_1_2.png" alt="blog image">
                    </div>
                    <div class="blog-content">  
                        <div class="blog-meta">
                            <a href="blog.html"><i class="fa-sharp fa-light fa-user"></i> By Jacklis</a>
                            <a href="blog.html"><i class="fa-sharp fa-light fa-calendar"></i> 12 Jan, 2024 </a>
                            <a href="blog.html"><i class="fa-sharp fa-light fa-comment"></i> 3 Comments </a>
                        </div>
                        <h3 class="blog-title"><a href="blog-details.html">Workouts for Healthier</a>
                        </h3>
                        <p class="blog-text">Tips for a Healthier Workout Routine
                            Stay Consistent,Mix It Up,Stay Hydrated: Drink plenty of water before, during, and after workouts.
                            Listen to Your Body,Fuel Properly.</p>
                        <div class="btn-wrapper justify-content-start">
                            <a href="blog-details.html" class="th-btn">Read More</a>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>