<!-- ==============================
    Blog Area 3  
==============================-->
<section class="blog-area3 space-top overflow-hidden pb-30" id="blog-sec">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="title-area text-center">
                    <span class="sub-title"><span class="double-line"></span>Blog Posts</span>
                    <h2 class="sec-title">Our Latest News & Articles</h2>
                </div>
            </div> 
        </div> 
        
        <div class="row gy-30">
            <div class="col-md-6 col-xl-4">
                <div class="blog-card style3">
                    <div class="blog-img">
                        <img src="assets/img/blog/blog_3_1.png" alt="blog image">
                    </div>
                    <div class="blog-content"> 
                        <div class="blog-meta">
                            <a href="blog.html"><i class="fa-sharp fa-light fa-user"></i>By Jonson</a>
                            <a href="blog.html"><i class="fa-sharp fa-light fa-calendar"></i> 12 Jan, 2024 </a> 
                        </div>
                        <h3 class="blog-title"><a href="blog-details.html">Cardio Strength Training</a>
                        </h3>
                        <p class="blog-text">Combining cardio and  training in one workout  helps you improve cardiovascular fitness, that balances both aspects:</p>
                        <div class="btn-wrapper justify-content-start">
                            <a href="blog-details.html" class="th-btn">Read More</a>
                        </div>
                    </div> 
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="blog-card style3">
                    <div class="blog-img">
                        <img src="assets/img/blog/blog_3_2.png" alt="blog image">
                    </div>
                    <div class="blog-content">  
                        <div class="blog-meta">
                            <a href="blog.html"><i class="fa-sharp fa-light fa-user"></i>By Jonson</a>
                            <a href="blog.html"><i class="fa-sharp fa-light fa-calendar"></i> 12 Jan, 2024 </a> 
                        </div>
                        <h3 class="blog-title"><a href="blog-details.html">Women in Fitness</a>
                        </h3>
                        <p class="blog-text">Fitness has become a significant aspect of many women's lives, mental well-being, and personal empowerment.</p>
                        <div class="btn-wrapper justify-content-start">
                            <a href="blog-details.html" class="th-btn">Read More</a>
                        </div>
                    </div> 
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="blog-card style3">
                    <div class="blog-img">
                        <img src="assets/img/blog/blog_3_3.png" alt="blog image">
                    </div>
                    <div class="blog-content">  
                        <div class="blog-meta">
                            <a href="blog.html"><i class="fa-sharp fa-light fa-user"></i>By Jonson</a>
                            <a href="blog.html"><i class="fa-sharp fa-light fa-calendar"></i> 12 Jan, 2024 </a> 
                        </div>
                        <h3 class="blog-title"><a href="blog-details.html">Mental Benefits Exercise</a>
                        </h3>
                        <p class="blog-text">Exercise is widely recognized for its physical health benefits, but its impact on mental health is equally significant.</p>
                        <div class="btn-wrapper justify-content-start">
                            <a href="blog-details.html" class="th-btn">Read More</a>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>