<!--==============================
    Breadcumb
============================== -->
<div class="breadcumb-wrapper overflow-hidden" data-bg-src="assets/img/bg/breadcrumb-bg.png">
    <!-- bg animated image/ -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="breadcumb-content">
                    <h1 class="breadcumb-title">@@breadcrumb-title</h1>
                    <ul class="breadcumb-menu">
                        <li><a href="home-child-care.html">@@breadcrumb-menu.home</a></li>
                        <li class="active">@@breadcrumb-menu.page</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="breadcumb-thumb">
                    <img src="assets/img/normal/breadcumb-thumb.png" alt="img">
                </div>
            </div>
        </div>
        
    </div>
</div>