<!--==============================
Class Schedule Area  03
==============================-->
 <div class="class-schedule-page-area space-top overflow-hidden">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title"><span class="double-line"></span> Our Class </span>
            <h2 class="sec-title">Training Classes Schedule</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive dark-bg">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Monday</th>
                            <th scope="col">Tuesday</th>
                            <th scope="col">Wednesday</th>
                            <th scope="col">Thursday</th>
                            <th scope="col">Friday</th>
                            <th scope="col">Saturday</th>
                            <th scope="col">Sunday</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                                <div class="time">
                                    06:00 - 07:00
                                </div> 
                            </td>
                            <td>
                                <div class="class_wrapper">
                                    <span class="class_name"> FITNESS CLASS </span>
                                    <span class="trainer_name"> Robert Cage </span>
                                </div>
                            </td>
                            <td> </td>
                            <td>
                                <div class="class_wrapper">
                                    <span class="class_name"> BOXING GYM </span>
                                    <span class="trainer_name"> Robert Cage </span>
                                </div>
                            </td>
                            <td>
                                <div class="class_wrapper">
                                    <span class="class_name"> OPEN GYM </span>
                                    <span class="trainer_name"> Robert Cage </span>
                                </div>
                            </td>
                            <td> </td>
                            <td rowspan="2">
                                <div class="class_wrapper rowspan">
                                    <span class="class_name"> FITNESS CLASS </span>
                                    <span class="trainer_name"> Robert Cage </span>
                                </div>
                            </td>
                            <td>
                                <div class="class_wrapper">
                                    <span class="class_name"> CROSSFIT PRO </span>
                                    <span class="trainer_name"> Robert Cage </span>
                                </div>
                            </td> 
                          </tr>
                          <tr>
                            <td>
                                <div class="time">
                                    07:00 - 08:00
                                </div>
                            </td>
                            <td>
                                <div class="class_wrapper">
                                    <span class="class_name"> BODY PUMP </span>
                                    <span class="trainer_name"> Robert Cage </span>
                                </div>
                            </td>
                            <td>
                                <div class="class_wrapper">
                                    <span class="class_name"> CARDIO BOX </span>
                                    <span class="trainer_name"> Robert Cage </span>
                                </div>
                            </td> 
                            <td>
                                <div class="class_wrapper">
                                    <span class="class_name"> YOGA CLASS </span>
                                    <span class="trainer_name"> Robert Cage </span>
                                </div>
                            </td>
                            <td>
                                 
                            </td>
                            <td>
                                <div class="class_wrapper">
                                    <span class="class_name"> OPEN GYM </span>
                                    <span class="trainer_name"> Robert Cage </span>
                                </div>
                            </td>
                            <td>
                                <div class="class_wrapper">
                                    <span class="class_name"> BOXING GYM </span>
                                    <span class="trainer_name"> Robert Cage </span>
                                </div>
                            </td> 
                          </tr> 
                          <tr>
                            <td> 
                                <div class="time">
                                    08:00 - 09:00
                                </div>
                            </td>
                            <td>
                                <div class="class_wrapper">
                                    <span class="class_name"> OPEN GYM </span>
                                    <span class="trainer_name"> Robert Cage </span>
                                </div>
                            </td>
                            <td>
                                <div class="class_wrapper active">
                                    <span class="class_name"> FITNESS CLASS </span>
                                    <span class="trainer_name"> Robert Cage </span>
                                </div>
                            </td> 
                            <td  rowspan="2"> 
                            </td>
                            <td>
                                <div class="class_wrapper">
                                    <span class="class_name"> YOGA CLASS </span>
                                    <span class="trainer_name"> Robert Cage </span>
                                </div>
                            </td>
                            <td>
                                <div class="class_wrapper">
                                    <span class="class_name"> BOXING GYM </span>
                                    <span class="trainer_name"> Robert Cage </span>
                                </div>
                            </td>
                            <td>
                                <div class="class_wrapper">
                                    <span class="class_name"> CROSSFIT PRO </span>
                                    <span class="trainer_name"> Robert Cage </span>
                                </div>
                            </td>
                            <td> 
                            </td> 
                          </tr> 
                          <tr>
                            <td>
                                <div class="time">
                                    09:00 - 10:00
                                </div>
                            </td>
                            <td  rowspan="2">
                                <div class="class_wrapper rowspan">
                                    <span class="class_name"> BOXING GYM</span>
                                    <span class="trainer_name"> Robert Cage </span>
                                </div>
                            </td>
                            <td>
                                <div class="class_wrapper">
                                    <span class="class_name"> BOXING GYM </span>
                                    <span class="trainer_name"> Robert Cage </span>
                                </div>
                            </td> 
                            <td>
                                <div class="class_wrapper">
                                    <span class="class_name"> CARDIO BOX </span>
                                    <span class="trainer_name"> Robert Cage </span>
                                </div>
                            </td>
                            <td rowspan="2">
                                <div class="class_wrapper rowspan">
                                    <span class="class_name"> CROSSFIT PRO </span>
                                    <span class="trainer_name"> Robert Cage </span>
                                </div>
                            </td>
                            <td  rowspan="2"> </td>
                            <td>
                                <div class="class_wrapper">
                                    <span class="class_name"> OPEN GYM  </span>
                                    <span class="trainer_name"> Robert Cage </span>
                                </div>
                            </td> 
                          </tr>                           
                          <tr>
                            <td>
                                <div class="time">
                                    10:00 - 11:00
                                </div>
                            </td>
                            <td>
                                <div class="class_wrapper">
                                    <span class="class_name"> OPEN GYM </span>
                                    <span class="trainer_name"> Robert Cage </span>
                                </div>
                            </td>
                            <td>
                                <div class="class_wrapper">
                                    <span class="class_name"> FITNESS CLASS </span>
                                    <span class="trainer_name"> Robert Cage </span>
                                </div>
                            </td> 
                            <td> </td>   
                            <td>
                                <div class="class_wrapper">
                                    <span class="class_name"> YOGA CLASS </span>
                                    <span class="trainer_name"> Robert Cage </span>
                                </div>
                            </td> 
                          </tr> 
                        </tbody>
                      </table>
                </div> 
            </div>
        </div>
    </div>
 </div>