<!--==============================
    Client Area 1 
==============================-->

<div class="client-area overflow-hidden">
  <div class="marquee-wrapper pt-85 pb-85"> 
    <div class="marquee-container" >
        <div class="marquee">
          <a href="#"><img src="assets/img/client/client_1_1.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_2.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_3.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_4.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_5.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_1.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_2.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_2.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_3.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_4.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_5.png" alt=""></a>
        </div>  
        <div class="marquee">
          <a href="#"><img src="assets/img/client/client_1_1.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_2.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_3.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_4.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_5.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_1.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_2.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_2.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_3.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_4.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_5.png" alt=""></a>
        </div> 
        <div class="marquee">
          <a href="#"><img src="assets/img/client/client_1_1.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_2.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_3.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_4.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_5.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_1.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_2.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_2.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_3.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_4.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_5.png" alt=""></a>
        </div> 
        <div class="marquee">
          <a href="#"><img src="assets/img/client/client_1_1.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_2.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_3.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_4.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_5.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_1.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_2.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_2.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_3.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_4.png" alt=""></a>
          <a href="#"><img src="assets/img/client/client_1_5.png" alt=""></a>
        </div> 
      </div> 
</div>

</div>  




  