<!--==============================
    Contact Area  
==============================-->
<div class="contact-area -mb-220 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-5 col-xl-5">
                <div class="contact-area contact-info-wrapper">
                    <div class="title">
                        <h4 class="title-text text-white">Gym Contact Info</h4>
                        <hr class="title-line">
                    </div>
                    <div class="info-box-wrapper">
                        <div class="info-box mt-30"> 
                            <i class="fa-regular fa-clock"></i> 
                            <div class="info-box_info ml-15">
                                <div class="info_title">Opening hours</div>
                                <div class="info_desc">Monday- Friday 10 AM - 11 PM</div>
                            </div>
                        </div>  
                        <div class="info-box mt-30"> 
                            <i class="fa-regular fa-location-dot"></i> 
                            <div class="info-box_info ml-15">
                                <div class="info_title">Address Location</div>
                                <div class="info_desc">12 Street Rd Suite United States of America</div>
                            </div>
                        </div> 
                        <div class="info-box mt-30"> 
                            <i class="fa-regular fa-envelope"></i> 
                            <div class="info-box_info ml-15">
                                <div class="info_title">Email Address</div>
                                <div class="info_desc">helpInfo@fitkitexample.com</div>
                            </div>
                        </div> 
                        <div class="info-box mt-30"> 
                            <i class="fa-regular fa-phone"></i> 
                            <div class="info-box_info ml-15">
                                <div class="info_title">Phone Number</div>
                                <div class="info_desc">+ 163-6359-9852</div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-7 col-xl-7">
                <div class="map-box-wrapper">
                    <div class="map-box-wrapper__map">
                        <iframe class="map-box-wrapper__iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3052.9696950164544!2d-74.93137952388632!3d40.07608807630144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c14cf11cc8e453%3A0x2d15a7f555264bdc!2s12%20Street%20Rd%2C%20Bensalem%2C%20PA%2019020%2C%20USA!5e0!3m2!1sen!2sbd!4v1715062423266!5m2!1sen!2sbd" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>