<!--==============================
    Counter Area 01 
==============================--> 
    <div class="counter-area space-bottom overflow-hidden">
        <div class="container">
            <div class="row gy-40 gx-0">
                <div class="col-sm-6 col-lg-3 d-md-center">
                    <div class="counter-card d-flex justify-content-center"> 
                        <div class="card-details">
                            <h2 class="counter-card_number"><span class="counter-number">10</span><span class="counter_plus">+</span></h2>
                            <p class="counter-card_text">CARS FOR SALE</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 d-md-center">
                    <div class="counter-card  d-flex justify-content-center"> 
                        <div class="card-details">
                            <h2 class="counter-card_number"><span class="counter-number">500</span><span class="counter_plus">+</span></h2>
                            <p class="counter-card_text">VERIFIED DEALERS</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 d-md-center">
                    <div class="counter-card d-flex justify-content-center"> 
                        <div class="card-details">
                            <h2 class="counter-card_number"><span class="counter-number">50</span><span class="counter_plus">+</span></h2>
                            <p class="counter-card_text">HAPPY CUSTOMER</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 d-md-center">
                    <div class="counter-card border-0  d-flex justify-content-center"> 
                        <div class="card-details">
                            <h2 class="counter-card_number"><span class="counter-number">15</span>k<span class="counter_plus">+</span></h2>
                            <p class="counter-card_text">ACTIVE USERS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div> 