<!--==============================
    Faq Area  
==============================-->
<div class="faq-area space-top overflow-hidden pb-30">
    <div class="container">
        <div class="row gx-120 gy-30  align-items-center">
            <div class="col-md-12 col-xl-6"> 
                <div class="seat-book-card style1 pt-140 pb-140"  data-bg-src="assets/img/bg/faq_bg.png">  

                    <form action="mail.php" method="POST" class="review-form ajax-contact ">
                        <div class="row gx-30  d-flex justify-content-end">
                            <h4 class="text-center">Book Your Seat</h4>
                            <div class="col-md-12 col-xl-8">
                                <div class="row query_form_wrapper style4">
                                    <div class="form-group col-12">
                                        <input type="text" class="form-control" name="name" id="name" placeholder="Enter Your Name">
                                        <i class="fal fa-user"></i>
                                    </div>
                                    <div class="form-group  col-12">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Email Address">
                                        <i class="fal fa-user"></i>
                                    </div> 
                                    <div class="form-group  col-12">
                                        <input type="number" class="form-control" name="number" id="number" placeholder="Phone Number">
                                        <i class="fal fa-user"></i>
                                    </div>  
                                    <div class="form-group  col-6">
                                        <input type="date" class="form-control" name="date" id="date" placeholder="mm/dd/yyyy"> 
                                        <i class="fa-regular fa-calendar"></i> 
                                    </div>
                                    <div class="form-group  col-6">
                                        <input type="time" class="form-control" name="time" id="time" placeholder="9AM-10AM">
                                        <i class="fa-regular fa-clock"></i> 
                                    </div>
                                    <div class="form-btn col-12 mt-10">
                                        <button class="th-btn style8 w-100">Book your Seat</button>
                                    </div>
                                </div>

                            </div>

                        </div> 
                    </form>
                </div>
            </div> 

            <div class="col-md-12 col-xl-6 ">
                <div class="title-area">
                    <span class="sub-title"><span class="single-line"></span> Faq's </span>
                    <h2 class="sec-title">Frequently Asked  
                        Question?</h2> 
                </div>
                <div class="accordion-area accordion" id="faqAccordion">

                    <div class="accordion-card active">
                        <div class="accordion-header" id="collapse-item-1">
                            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">1. Does the care cost me extra?</button>
                        </div>
                        <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="collapse-item-1" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p class="faq-text">Stay adaptable and open to modifications in your fitness routine based on feedback from your body and any changes in your goals or circumstances.</p>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-card ">
                        <div class="accordion-header" id="collapse-item-2">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">2. Does the care cost me extra?</button>
                        </div>
                        <div id="collapse-2" class="accordion-collapse collapse " aria-labelledby="collapse-item-2" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p class="faq-text">Remember, the specific situation will vary depending on your location and circumstances. It's always best to research and explore available options to find the most suitable and affordable care solution.</p>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-card ">
                        <div class="accordion-header" id="collapse-item-3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">3. Does the care cost me extra?</button>
                        </div>
                        <div id="collapse-3" class="accordion-collapse collapse " aria-labelledby="collapse-item-3" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p class="faq-text">Remember, the specific situation will vary depending on your location and circumstances. It's crucial to research and explore available options to find the most suitable and affordable care solution.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 

        </div>
    </div>
</div>