<!--==============================
   Fitness Classes Area  03
==============================-->
<div class="fitness-classes-area3 position-relative overflow-hidden space-top pb-30 overflow-hidden" data-bg-src="assets/img/classes/classes_bg3.png">
    <div class="container">
        <div class="title-area text-left">
            <span class="sub-title"><span class="single-line"></span> Fitness Training </span>
            <h2 class="sec-title">Our Upcoming Classes</h2>
        </div>

        <div class="row">
            <div class="fitness-class-slider-two-area">
                <div class="swiper fitnessClassSliderTwo">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide center">
                            <div class="fitness_class_card style2">
                                <div class="fitness_class_card_img">
                                    <img src="assets/img/classes/class3_1.png" alt="">
                                </div>
                                <div class="fitness_class_card_content">
                                    <h3 class="fitness_class_card_title">Fitness &amp; Gym</h3>
                                    <div class="fitness_class_card_text">
                                        <p>Before starting a new fitness regimen, it's advisable to consult with
                                            healthcare.</p>
                                    </div>
                                    <div class="fitness_class_card_btn">
                                        <a href="fitness-class-details.html">Read More <i
                                                class="fa-regular fa-arrow-right"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide center">
                            <div class="fitness_class_card style2">
                                <div class="fitness_class_card_img">
                                    <img src="assets/img/classes/class3_5.png" alt="">
                                </div>
                                <div class="fitness_class_card_content">
                                    <h3 class="fitness_class_card_title">Yoga & Pilates</h3>
                                    <div class="fitness_class_card_text">
                                        <p>Before starting a new fitness regimen, it's advisable to consult with
                                            healthcare.</p>
                                    </div>
                                    <div class="fitness_class_card_btn">
                                        <a href="fitness-class-details.html">Read More <i
                                                class="fa-regular fa-arrow-right"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide center">
                            <div class="fitness_class_card style2">
                                <div class="fitness_class_card_img">
                                    <img src="assets/img/classes/class3_6.png" alt="">
                                </div>
                                <div class="fitness_class_card_content">
                                    <h3 class="fitness_class_card_title">Psycho Training</h3>
                                    <div class="fitness_class_card_text">
                                        <p>Before starting a new fitness regimen, it's advisable to consult with
                                            healthcare.</p>
                                    </div>
                                    <div class="fitness_class_card_btn">
                                        <a href="fitness-class-details.html">Read More <i
                                                class="fa-regular fa-arrow-right"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide center">
                            <div class="fitness_class_card style2">
                                <div class="fitness_class_card_img">
                                    <img src="assets/img/classes/class3_7.png" alt="">
                                </div>
                                <div class="fitness_class_card_content">
                                    <h3 class="fitness_class_card_title">Strength Training</h3>
                                    <div class="fitness_class_card_text">
                                        <p>Before starting a new fitness regimen, it's advisable to consult with
                                            healthcare.</p>
                                    </div>
                                    <div class="fitness_class_card_btn">
                                        <a href="fitness-class-details.html">Read More <i
                                                class="fa-regular fa-arrow-right"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide center">
                            <div class="fitness_class_card style2">
                                <div class="fitness_class_card_img">
                                    <img src="assets/img/classes/class3_8.png" alt="">
                                </div>
                                <div class="fitness_class_card_content">
                                    <h3 class="fitness_class_card_title">Advance GYM</h3>
                                    <div class="fitness_class_card_text">
                                        <p>Before starting a new fitness regimen, it's advisable to consult with
                                            healthcare.</p>
                                    </div>
                                    <div class="fitness_class_card_btn">
                                        <a href="fitness-class-details.html">Read More <i
                                                class="fa-regular fa-arrow-right"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide center">
                            <div class="fitness_class_card style2">
                                <div class="fitness_class_card_img">
                                    <img src="assets/img/classes/class3_9.png" alt="">
                                </div>
                                <div class="fitness_class_card_content">
                                    <h3 class="fitness_class_card_title">Self Defence</h3>
                                    <div class="fitness_class_card_text">
                                        <p>Before starting a new fitness regimen, it's advisable to consult with
                                            healthcare.</p>
                                    </div>
                                    <div class="fitness_class_card_btn">
                                        <a href="fitness-class-details.html">Read More <i
                                                class="fa-regular fa-arrow-right"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide center">
                            <div class="fitness_class_card style2">
                                <div class="fitness_class_card_img">
                                    <img src="assets/img/classes/class3_1.png" alt="">
                                </div>
                                <div class="fitness_class_card_content">
                                    <h3 class="fitness_class_card_title">Fitness &amp; Gym</h3>
                                    <div class="fitness_class_card_text">
                                        <p>Before starting a new fitness regimen, it's advisable to consult with
                                            healthcare.</p>
                                    </div>
                                    <div class="fitness_class_card_btn">
                                        <a href="fitness-class-details.html">Read More <i
                                                class="fa-regular fa-arrow-right"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide center">
                            <div class="fitness_class_card style2">
                                <div class="fitness_class_card_img">
                                    <img src="assets/img/classes/class3_5.png" alt="">
                                </div>
                                <div class="fitness_class_card_content">
                                    <h3 class="fitness_class_card_title">Yoga & Pilates</h3>
                                    <div class="fitness_class_card_text">
                                        <p>Before starting a new fitness regimen, it's advisable to consult with
                                            healthcare.</p>
                                    </div>
                                    <div class="fitness_class_card_btn">
                                        <a href="fitness-class-details.html">Read More <i
                                                class="fa-regular fa-arrow-right"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide center">
                            <div class="fitness_class_card style2">
                                <div class="fitness_class_card_img">
                                    <img src="assets/img/classes/class3_6.png" alt="">
                                </div>
                                <div class="fitness_class_card_content">
                                    <h3 class="fitness_class_card_title">Psycho Training</h3>
                                    <div class="fitness_class_card_text">
                                        <p>Before starting a new fitness regimen, it's advisable to consult with
                                            healthcare.</p>
                                    </div>
                                    <div class="fitness_class_card_btn">
                                        <a href="fitness-class-details.html">Read More <i
                                                class="fa-regular fa-arrow-right"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide center">
                            <div class="fitness_class_card style2">
                                <div class="fitness_class_card_img">
                                    <img src="assets/img/classes/class3_7.png" alt="">
                                </div>
                                <div class="fitness_class_card_content">
                                    <h3 class="fitness_class_card_title">Strength Training</h3>
                                    <div class="fitness_class_card_text">
                                        <p>Before starting a new fitness regimen, it's advisable to consult with
                                            healthcare.</p>
                                    </div>
                                    <div class="fitness_class_card_btn">
                                        <a href="fitness-class-details.html">Read More <i
                                                class="fa-regular fa-arrow-right"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>

        <div class="swiper-button-prev fitnessClassTwo-slider-prev">
            <button  class="fitnessClassTwo-slider-arrow fitnessClassTwo-prev default"><span class="icon-prev"></span></button>
        </div>
        <div class="swiper-button-next fitnessClassTwo-slider-next">
            <button  class="fitnessClassTwo-slider-arrow fitnessClassTwo-next default"><span class="icon-next"></span></button>
        </div>
    </div>
</div>
</div>