<!--==============================
   Fitness Classes Area  
==============================-->
<div class="fitness-classes-area space overflow-hidden" data-bg-src="assets/img/classes/classes_bg.png">
    <div class="container">

        <div class="row">
            <div class="col-12 col-xl-9">
                <div class="title-area text-left mb-30">

                    <span class="sub-title"><span class="single-line"></span> Gym & Fitness Training </span>
                    <h2 class="sec-title mb-30">Our Gym Fitness Classes</h2>
                </div>
            </div>
            <div class="col-12 col-xl-3">
                <div class="btn-wrapper">
                    <a href="fitness-classes.html" class="th-btn">View All Class<i class="fas fa-arrow-right ms-2"></i></a>
                </div>
            </div>
        </div>


        <div class="row gx-60">
            <div class="col-12 col-lg-12 col-xl-3">
                <div class="d-flex align-items-start justify-content-end">
                    <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <button class="nav-link active" id="v-pills-Fitness-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-Fitness" type="button" role="tab" aria-controls="v-pills-Fitness"
                            aria-selected="true">Fitness & Gym Class</button>
                        <button class="nav-link" id="v-pills-Personal-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-Personal" type="button" role="tab" aria-controls="v-pills-Personal"
                            aria-selected="false">Personal Training</button>
                        <button class="nav-link" id="v-pills-Boxing-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-Boxing" type="button" role="tab" aria-controls="v-pills-Boxing"
                            aria-selected="false">Boxing Class</button>
                        <button class="nav-link" id="v-pills-CrossFit-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-CrossFit" type="button" role="tab" aria-controls="v-pills-CrossFit"
                            aria-selected="false">CrossFit Training</button>
                        <button class="nav-link" id="v-pills-Yoga-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-Yoga" type="button" role="tab" aria-controls="v-pills-Yoga"
                            aria-selected="false">Yoga & Pilates</button>
                        <button class="nav-link" id="v-pills-Psycho-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-Psycho" type="button" role="tab" aria-controls="v-pills-Psycho"
                            aria-selected="false">Psycho Training</button>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-12 col-xl-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-Fitness" role="tabpanel"
                        aria-labelledby="v-pills-Fitness-tab" tabindex="0">
                        <div class="class_content_wrapper">
                            <div class="fitness-tab_active-line">
                                <span><svg xmlns="http://www.w3.org/2000/svg" width="76" height="65" viewBox="0 0 76 65"
                                        fill="none">
                                        <path
                                            d="M0 7.99512C0 12.4134 3.58172 15.9951 8 15.9951C12.4183 15.9951 16 12.4134 16 7.99512C16 3.57684 12.4183 -0.00488281 8 -0.00488281C3.58172 -0.00488281 0 3.57684 0 7.99512ZM60 56.9951C60 61.4134 63.5817 64.9951 68 64.9951C72.4183 64.9951 76 61.4134 76 56.9951C76 52.5768 72.4183 48.9951 68 48.9951C63.5817 48.9951 60 52.5768 60 56.9951ZM8 9.49512C17.1248 9.49512 23.1218 12.416 27.5822 16.7296C32.1162 21.1145 35.1398 27.0032 38.1529 33.1549C41.1183 39.2093 44.0916 45.5667 48.5239 50.3575C53.046 55.2454 59.0648 58.4951 68 58.4951V55.4951C59.9352 55.4951 54.704 52.6199 50.7261 48.3202C46.6584 43.9235 43.8817 38.031 40.8471 31.8353C37.8602 25.737 34.6338 19.3757 29.6678 14.5731C24.6282 9.69928 17.8752 6.49512 8 6.49512V9.49512Z"
                                            fill="#F41E1E" />
                                    </svg></span>
                            </div>
                            <div class="classes_content p-40" data-bg-src="assets/img/classes/classes_bg1.png">
                                <div class="shape1 d-none d-lg-block"><img src="assets/img/classes/classes_shape1.svg" alt="shape1"></div>
                                <div class="row gx-40 gy-40">
                                    <div class="col-12 col-xl-6">
                                        <div class="image"><img class="img-fluid"
                                                src="assets/img/classes/classes_thumb1_1.png"> </div>
                                    </div>
                                    <div class="col-12 col-xl-6">
                                        <div class="classes_content_thumb_area">
                                            <div class="icon_bg mb-35">
                                                <div class="bg"></div>
                                                <div class="icon"><img src="assets/img/classes/assets_icon1.svg"
                                                        alt="classes-icon"></div>
                                            </div>
                                            <h5 class="class_title mb-20">Fitness & Gym Class</h5>
                                            <div class="class_desc">
                                                <p class="mb-30">Treadmills, stationary bikes, and elliptical machines
                                                    are commonly used for cardiovascular workouts, helping to improve
                                                    endurance, burn calories, and enhance heart health.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-6 pe-0">
                                                    <div class="profile ">
                                                        <div class="profile_img"><img
                                                                src="assets/img/classes/classes_profile1.png"
                                                                alt="profile-img"> </div>
                                                        <div class="profile_content">
                                                            <div class="profile_content_name">Henry Joshep
                                                            </div>
                                                            <div class="profile_content_designation">GYM Trainer
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6 ps-0">
                                                    <div class="profile_contact">
                                                        <p class="profile_contact_title ml-15 my-0 mr-0">Call Me</p>
                                                        <div class="profile_contact_number ml-15">+ 163-6589-6547</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="btn-wrapper justify-content-start mb-0">
                                                 <a href="fitness-class-details.html" class="th-btn style4">View Details<i
                                                        class="fas fa-arrow-right ms-2"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-Personal" role="tabpanel"
                        aria-labelledby="v-pills-Personal-tab" tabindex="0">
                        <div class="class_content_wrapper">
                            <div class="personal-tab_active-line">
                                <span><svg xmlns="http://www.w3.org/2000/svg" width="76" height="65" viewBox="0 0 76 65"
                                        fill="none">
                                        <path
                                            d="M0 7.99512C0 12.4134 3.58172 15.9951 8 15.9951C12.4183 15.9951 16 12.4134 16 7.99512C16 3.57684 12.4183 -0.00488281 8 -0.00488281C3.58172 -0.00488281 0 3.57684 0 7.99512ZM60 56.9951C60 61.4134 63.5817 64.9951 68 64.9951C72.4183 64.9951 76 61.4134 76 56.9951C76 52.5768 72.4183 48.9951 68 48.9951C63.5817 48.9951 60 52.5768 60 56.9951ZM8 9.49512C17.1248 9.49512 23.1218 12.416 27.5822 16.7296C32.1162 21.1145 35.1398 27.0032 38.1529 33.1549C41.1183 39.2093 44.0916 45.5667 48.5239 50.3575C53.046 55.2454 59.0648 58.4951 68 58.4951V55.4951C59.9352 55.4951 54.704 52.6199 50.7261 48.3202C46.6584 43.9235 43.8817 38.031 40.8471 31.8353C37.8602 25.737 34.6338 19.3757 29.6678 14.5731C24.6282 9.69928 17.8752 6.49512 8 6.49512V9.49512Z"
                                            fill="#F41E1E" />
                                    </svg></span>
                            </div>
                            <div class="classes_content p-40" data-bg-src="assets/img/classes/classes_bg1.png">
                                <div class="shape1 d-none d-lg-block"><img src="assets/img/classes/classes_shape1.svg" alt="shape1"></div>
                                <div class="row gx-40 gy-40">
                                    <div class="col-12 col-xl-6">
                                        <div class="image"><img class="img-fluid"
                                                src="assets/img/classes/classes_thumb1_2.png"> </div>
                                    </div>
                                    <div class="col-12 col-xl-6">
                                        <div class="classes_content_thumb_area">
                                            <div class="icon_bg mb-35">
                                                <div class="bg"></div>
                                                <div class="icon"><img src="assets/img/classes/assets_icon1.svg"
                                                        alt="classes-icon"></div>
                                            </div>
                                            <h5 class="class_title mb-20">Personal Training</h5>
                                            <div class="class_desc">
                                                <p class="mb-30">Personal Gym Training Classes are a valuable investment
                                                    in your health and well-being Gym Training Classes are a valuable
                                                    investment. It's a chance to a supportive community.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-6 pe-0">
                                                    <div class="profile ">
                                                        <div class="profile_img"><img
                                                                src="assets/img/classes/classes_profile1.png"
                                                                alt="profile-img"> </div>
                                                        <div class="profile_content">
                                                            <div class="profile_content_name ">Henry Joshep
                                                            </div>
                                                            <div class="profile_content_designation">GYM Trainer
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6 ps-0">
                                                    <div class="profile_contact">
                                                        <p class="profile_contact_title ml-15 my-0 mr-0">Call Me</p>
                                                        <div class="profile_contact_number  ml-15">+ 163-6589-6547</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="btn-wrapper justify-content-start mb-0">
                                                 <a href="fitness-class-details.html" class="th-btn style4">View Details<i
                                                        class="fas fa-arrow-right ms-2"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-Boxing" role="tabpanel" aria-labelledby="v-pills-Boxing-tab"
                        tabindex="0">
                        <div class="class_content_wrapper">
                            <div class="boxing-tab_active-line">
                                <span><svg xmlns="http://www.w3.org/2000/svg" width="76" height="65" viewBox="0 0 76 65"
                                        fill="none">
                                        <path
                                            d="M0 7.99512C0 12.4134 3.58172 15.9951 8 15.9951C12.4183 15.9951 16 12.4134 16 7.99512C16 3.57684 12.4183 -0.00488281 8 -0.00488281C3.58172 -0.00488281 0 3.57684 0 7.99512ZM60 56.9951C60 61.4134 63.5817 64.9951 68 64.9951C72.4183 64.9951 76 61.4134 76 56.9951C76 52.5768 72.4183 48.9951 68 48.9951C63.5817 48.9951 60 52.5768 60 56.9951ZM8 9.49512C17.1248 9.49512 23.1218 12.416 27.5822 16.7296C32.1162 21.1145 35.1398 27.0032 38.1529 33.1549C41.1183 39.2093 44.0916 45.5667 48.5239 50.3575C53.046 55.2454 59.0648 58.4951 68 58.4951V55.4951C59.9352 55.4951 54.704 52.6199 50.7261 48.3202C46.6584 43.9235 43.8817 38.031 40.8471 31.8353C37.8602 25.737 34.6338 19.3757 29.6678 14.5731C24.6282 9.69928 17.8752 6.49512 8 6.49512V9.49512Z"
                                            fill="#F41E1E" />
                                    </svg></span>
                            </div>
                            <div class="classes_content p-40" data-bg-src="assets/img/classes/classes_bg1.png">
                                <div class="shape1 d-none d-lg-block"><img src="assets/img/classes/classes_shape1.svg" alt="shape1"></div>
                                <div class="row gx-40 gy-40">
                                    <div class="col-12 col-xl-6">
                                        <div class="image"><img class="img-fluid"
                                                src="assets/img/classes/classes_thumb1_3.png"> </div>
                                    </div>
                                    <div class="col-12 col-xl-6">
                                        <div class="classes_content_thumb_area">
                                            <div class="icon_bg mb-35">
                                                <div class="bg"></div>
                                                <div class="icon"><img src="assets/img/classes/assets_icon1.svg"
                                                        alt="classes-icon"></div>
                                            </div>
                                            <h5 class="class_title mb-20">Boxing Training Class</h5>
                                            <div class="class_desc">
                                                <p class="mb-30">Our Boxing Class welcomes everyone, regardless of
                                                    experience level. It's a supportive and encouraging environment
                                                    where you can learn new skills, have fun, and achieve your fitness
                                                    goals.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-6 pe-0">
                                                    <div class="profile ">
                                                        <div class="profile_img"><img
                                                                src="assets/img/classes/classes_profile1.png"
                                                                alt="profile-img"> </div>
                                                        <div class="profile_content">
                                                            <div class="profile_content_name ">Henry Joshep
                                                            </div>
                                                            <div class="profile_content_designation">GYM Trainer
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6 ps-0">
                                                    <div class="profile_contact">
                                                        <p class="profile_contact_title ml-15 my-0 mr-0">Call Me</p>
                                                        <div class="profile_contact_number  ml-15">+ 163-6589-6547</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="btn-wrapper justify-content-start mb-0">
                                                 <a href="fitness-class-details.html" class="th-btn style4">View Details<i
                                                        class="fas fa-arrow-right ms-2"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-CrossFit" role="tabpanel"
                        aria-labelledby="v-pills-CrossFit-tab" tabindex="0">
                        <div class="class_content_wrapper">
                            <div class="crossFit-tab_active-line">
                                <span><svg xmlns="http://www.w3.org/2000/svg" width="76" height="65" viewBox="0 0 76 65"
                                        fill="none">
                                        <path
                                            d="M0 7.99512C0 12.4134 3.58172 15.9951 8 15.9951C12.4183 15.9951 16 12.4134 16 7.99512C16 3.57684 12.4183 -0.00488281 8 -0.00488281C3.58172 -0.00488281 0 3.57684 0 7.99512ZM60 56.9951C60 61.4134 63.5817 64.9951 68 64.9951C72.4183 64.9951 76 61.4134 76 56.9951C76 52.5768 72.4183 48.9951 68 48.9951C63.5817 48.9951 60 52.5768 60 56.9951ZM8 9.49512C17.1248 9.49512 23.1218 12.416 27.5822 16.7296C32.1162 21.1145 35.1398 27.0032 38.1529 33.1549C41.1183 39.2093 44.0916 45.5667 48.5239 50.3575C53.046 55.2454 59.0648 58.4951 68 58.4951V55.4951C59.9352 55.4951 54.704 52.6199 50.7261 48.3202C46.6584 43.9235 43.8817 38.031 40.8471 31.8353C37.8602 25.737 34.6338 19.3757 29.6678 14.5731C24.6282 9.69928 17.8752 6.49512 8 6.49512V9.49512Z"
                                            fill="#F41E1E" />
                                    </svg></span>
                            </div>
                            <div class="classes_content p-40" data-bg-src="assets/img/classes/classes_bg1.png">
                                <div class="shape1 d-none d-lg-block"><img src="assets/img/classes/classes_shape1.svg" alt="shape1"></div>
                                <div class="row gx-40 gy-40">
                                    <div class="col-12 col-xl-6">
                                        <div class="image"><img class="img-fluid"
                                                src="assets/img/classes/classes_thumb1_4.png"> </div>
                                    </div>
                                    <div class="col-12 col-xl-6">
                                        <div class="classes_content_thumb_area">
                                            <div class="icon_bg mb-35">
                                                <div class="bg"></div>
                                                <div class="icon"><img src="assets/img/classes/assets_icon1.svg"
                                                        alt="classes-icon"></div>
                                            </div>
                                            <h5 class="class_title mb-20">Crossfit Training Class</h5>
                                            <div class="class_desc">
                                                <p class="mb-30">CrossFit Training Class isn't just a workout; it's a
                                                    lifestyle change. It's about embracing a community, challenging
                                                    yourself physically and mentally, and achieving fitness goals you
                                                    never thought possible.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-6 pe-0">
                                                    <div class="profile ">
                                                        <div class="profile_img"><img
                                                                src="assets/img/classes/classes_profile1.png"
                                                                alt="profile-img"> </div>
                                                        <div class="profile_content">
                                                            <div class="profile_content_name ">Henry Joshep
                                                            </div>
                                                            <div class="profile_content_designation">GYM Trainer
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6 ps-0">
                                                    <div class="profile_contact">
                                                        <p class="profile_contact_title ml-15 my-0 mr-0">Call Me</p>
                                                        <div class="profile_contact_number  ml-15">+ 163-6589-6547</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="btn-wrapper justify-content-start mb-0">
                                                 <a href="fitness-class-details.html" class="th-btn style4">View Details<i
                                                        class="fas fa-arrow-right ms-2"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-Yoga" role="tabpanel" aria-labelledby="v-pills-Yoga-tab"
                        tabindex="0">
                        <div class="class_content_wrapper">
                            <div class="yoga-tab_active-line">
                                <span><svg xmlns="http://www.w3.org/2000/svg" width="76" height="65" viewBox="0 0 76 65"
                                        fill="none">
                                        <path
                                            d="M0 7.99512C0 12.4134 3.58172 15.9951 8 15.9951C12.4183 15.9951 16 12.4134 16 7.99512C16 3.57684 12.4183 -0.00488281 8 -0.00488281C3.58172 -0.00488281 0 3.57684 0 7.99512ZM60 56.9951C60 61.4134 63.5817 64.9951 68 64.9951C72.4183 64.9951 76 61.4134 76 56.9951C76 52.5768 72.4183 48.9951 68 48.9951C63.5817 48.9951 60 52.5768 60 56.9951ZM8 9.49512C17.1248 9.49512 23.1218 12.416 27.5822 16.7296C32.1162 21.1145 35.1398 27.0032 38.1529 33.1549C41.1183 39.2093 44.0916 45.5667 48.5239 50.3575C53.046 55.2454 59.0648 58.4951 68 58.4951V55.4951C59.9352 55.4951 54.704 52.6199 50.7261 48.3202C46.6584 43.9235 43.8817 38.031 40.8471 31.8353C37.8602 25.737 34.6338 19.3757 29.6678 14.5731C24.6282 9.69928 17.8752 6.49512 8 6.49512V9.49512Z"
                                            fill="#F41E1E" />
                                    </svg></span>
                            </div>
                            <div class="classes_content p-40" data-bg-src="assets/img/classes/classes_bg1.png">
                                <div class="shape1 d-none d-lg-block"><img src="assets/img/classes/classes_shape1.svg" alt="shape1"></div>
                                <div class="row gx-40 gy-40">
                                    <div class="col-12 col-xl-6">
                                        <div class="image"><img class="img-fluid"
                                                src="assets/img/classes/classes_thumb1_5.png"> </div>
                                    </div>
                                    <div class="col-12 col-xl-6">
                                        <div class="classes_content_thumb_area">
                                            <div class="icon_bg mb-35">
                                                <div class="bg"></div>
                                                <div class="icon"><img src="assets/img/classes/assets_icon1.svg"
                                                        alt="classes-icon"></div>
                                            </div>
                                            <h5 class="class_title mb-20">Yoga & Pilates Class</h5>
                                            <div class="class_desc">
                                                <p class="mb-30">Our Yoga & Pilates class provides a unique opportunity.
                                                    It's a chance to connect with your inner self, strengthen your body,
                                                    and find a sense of centered calm.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-6 pe-0">
                                                    <div class="profile ">
                                                        <div class="profile_img"><img
                                                                src="assets/img/classes/classes_profile1.png"
                                                                alt="profile-img"> </div>
                                                        <div class="profile_content">
                                                            <div class="profile_content_name">Henry Joshep
                                                            </div>
                                                            <div class="profile_content_designation">GYM Trainer
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6 ps-0">
                                                    <div class="profile_contact">
                                                        <p class="profile_contact_title ml-15 my-0 mr-0">Call Me</p>
                                                        <div class="profile_contact_number ml-15">+ 163-6589-6547</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="btn-wrapper justify-content-start mb-0">
                                                <a href="fitness-class-details.html" class="th-btn style4">View Details<i
                                                        class="fas fa-arrow-right ms-2"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-Psycho" role="tabpanel" aria-labelledby="v-pills-Psycho-tab"
                        tabindex="0">
                        <div class="class_content_wrapper">
                            <div class="psycho-tab_active-line">
                                <span><svg xmlns="http://www.w3.org/2000/svg" width="76" height="65" viewBox="0 0 76 65"
                                        fill="none">
                                        <path
                                            d="M0 7.99512C0 12.4134 3.58172 15.9951 8 15.9951C12.4183 15.9951 16 12.4134 16 7.99512C16 3.57684 12.4183 -0.00488281 8 -0.00488281C3.58172 -0.00488281 0 3.57684 0 7.99512ZM60 56.9951C60 61.4134 63.5817 64.9951 68 64.9951C72.4183 64.9951 76 61.4134 76 56.9951C76 52.5768 72.4183 48.9951 68 48.9951C63.5817 48.9951 60 52.5768 60 56.9951ZM8 9.49512C17.1248 9.49512 23.1218 12.416 27.5822 16.7296C32.1162 21.1145 35.1398 27.0032 38.1529 33.1549C41.1183 39.2093 44.0916 45.5667 48.5239 50.3575C53.046 55.2454 59.0648 58.4951 68 58.4951V55.4951C59.9352 55.4951 54.704 52.6199 50.7261 48.3202C46.6584 43.9235 43.8817 38.031 40.8471 31.8353C37.8602 25.737 34.6338 19.3757 29.6678 14.5731C24.6282 9.69928 17.8752 6.49512 8 6.49512V9.49512Z"
                                            fill="#F41E1E" />
                                    </svg></span>
                            </div>
                            <div class="classes_content p-40" data-bg-src="assets/img/classes/classes_bg1.png">
                                <div class="shape1 d-none d-lg-block"><img src="assets/img/classes/classes_shape1.svg" alt="shape1"></div>
                                <div class="row gx-40 gy-40">
                                    <div class="col-12 col-xl-6">
                                        <div class="image"><img class="img-fluid"
                                                src="assets/img/classes/classes_thumb1_6.png"> </div>
                                    </div>
                                    <div class="col-12 col-xl-6">
                                        <div class="classes_content_thumb_area">
                                            <div class="icon_bg mb-35">
                                                <div class="bg"></div>
                                                <div class="icon"><img src="assets/img/classes/assets_icon1.svg"
                                                        alt="classes-icon"></div>
                                            </div>
                                            <h5 class="class_title mb-20">Psycho Training Class</h5>
                                            <div class="class_desc">
                                                <p class="mb-30">The Psycho Training Class is an investment in your
                                                    well-being and success. It empowers you to take control of your
                                                    mind, emotions, and behavior, leading to a more fulfilling and
                                                    thriving life.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-6 pe-0">
                                                    <div class="profile ">
                                                        <div class="profile_img"><img
                                                                src="assets/img/classes/classes_profile1.png"
                                                                alt="profile-img"> </div>
                                                        <div class="profile_content">
                                                            <div class="profile_content_name">Henry Joshep
                                                            </div>
                                                            <div class="profile_content_designation">GYM Trainer
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6 ps-0">
                                                    <div class="profile_contact">
                                                        <p class="profile_contact_title ml-15 my-0 mr-0">Call Me</p>
                                                        <div class="profile_contact_number ml-15">+ 163-6589-6547</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="btn-wrapper justify-content-start mb-0">
                                                <a href="fitness-class-details.html" class="th-btn style4">View Details<i
                                                        class="fas fa-arrow-right ms-2"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>