<!--==============================
   Fitness Area  
==============================-->
<div class="finess-area space-top overflow-hidden">
    <div class="container">
        <div class="row gy-30">
            <div class="col-md-12 col-lg-6">
                <div class="title-area text-left"> 
                    <span class="sub-title"><span class="single-line"></span>Keep Your Fitness</span>
                    <h2 class="sec-title">Achieving Peak Body Fitness with Purpose</h2>
                </div>
                <div class="desc">
                    <p>Regularly assess your progress by tracking key indicators such as weight, strength levels, and endurance. Adjust your workout plan as needed to keep challenging your body and avoid plateaus. Stay adaptable and open to modifications in your fitness routine based on feedback from your body. Any changes in your goals or circumstances. Focus on proper form and technique during exercises to maximize effectiveness and reduce the risk of injuries.</p>
                </div>
                <div class="btn-group">
                    <a href="about.html" class="th-btn style2">MOre About Us</a>
                    <a href="class-schedule.html" class="th-btn style7">View Class Schedule</a>
                  </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="fitness-thumb"> 
                    <div class="choose-slide-image">
                        <div class="img background-img" data-bg-src="assets/img/fitness/fitness_thumb1_1.png">
                        </div>
                        <div class="img foreground-img" data-bg-src="assets/img/fitness/fitness_thumb1_2.png">
                        </div>
                        <input type="range" min="1" max="100" value="50" class="slider" name='slider' id="slider">
                        <div class='slider-button'></div>
                    </div>

                  </div>
                  
            </div>
        </div>
    </div>
</div>