<!--==============================
    Hero Area
==============================--> 
<div class="th-hero-wrapper hero-1 space-bottom overflow-hidden" id="hero">
    <div class="clipped-element">
     <div class="swiper animeslide">
        <div class="swiper heroSliderOne">
            <div class="swiper-wrapper">
                <div class="swiper-slide  animeslide-slide">
                    <div class="th-hero-slide">
                        <div class="th-hero-bg" data-bg-src="assets/img/hero/hero_bg_1_1.png"></div>
                        <div class="th-hero_shape1"> </div>
                        <div class="th-hero_shape2"> </div>
                        <div class="th-hero_shape3">GYM</div>
                        <div class="th-hero_shape4"> </div>
                        <div class="th-hero_shape5"> <img src="assets/img/hero/hero_bg_1_2.png" alt="man"> </div>
                        <div class="th-hero_shape6">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1060" height="860" viewBox="0 0 1060 860"
                                fill="none">
                                <path d="M390 -186H0L670 1086H1060L390 -186Z" fill="url(#paint0_linear_201_1082)" />
                                <defs>
                                    <linearGradient id="paint0_linear_201_1082" x1="530" y1="-186" x2="530" y2="1086"
                                        gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F41E1E" stop-opacity="0.3" />
                                        <stop offset="1" stop-color="#F41E1E" stop-opacity="0" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="th-hero_shape7">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1060" height="860" viewBox="0 0 1060 860"
                                fill="none">
                                <path d="M390 -186H0L670 1086H1060L390 -186Z" fill="url(#paint0_linear_201_1082)" />
                                <defs>
                                    <linearGradient id="paint0_linear_201_1082" x1="530" y1="-186" x2="530" y2="1086"
                                        gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F41E1E" stop-opacity="0.3" />
                                        <stop offset="1" stop-color="#F41E1E" stop-opacity="0" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="th-hero_shape8">
                            <svg xmlns="http://www.w3.org/2000/svg" width="814" height="636" viewBox="0 0 814 636"
                                fill="none">
                                <path d="M537.264 0H850L312.736 1020H0L537.264 0Z" fill="url(#paint0_linear_201_1091)" />
                                <defs>
                                    <linearGradient id="paint0_linear_201_1091" x1="425" y1="0" x2="425" y2="1020"
                                        gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F41E1E" stop-opacity="0.3" />
                                        <stop offset="1" stop-color="#F41E1E" stop-opacity="0" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="th-hero_shape9">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1040" height="860" viewBox="0 0 1040 860"
                                fill="none">
                                <path d="M670 -186H1060L390 1086H0L670 -186Z" fill="url(#paint0_linear_201_1090)" />
                                <defs>
                                    <linearGradient id="paint0_linear_201_1090" x1="530" y1="-186" x2="530" y2="1086"
                                        gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F41E1E" stop-opacity="0.3" />
                                        <stop offset="1" stop-color="#F41E1E" stop-opacity="0" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="container  ">
                            <div class="row">
                                <div class="col-md-12 col-lg-9 col-xl-8">
                                    <div class="hero-style1">
                                        <span class="hero-subtitle"  data-animate="left"><span class="single-line"></span> Welcome to
                                            Fitkit Gym
                                        </span>
                                        <h1 class="hero-title text-white"  data-animate="left">Ready To Train Your Body</h1>
                                        <p class="hero-text"   data-animate="left">Gym workouts are structured exercise sessions conducted
                                            in a
                                            fitness facility equipped with various exercise machines, free weights,
                                            and
                                            amenities.</p>
                                        <div class="hero-btn-wrapper"  data-animate="left">
                                            <a href="class-schedule.html" class="th-btn">View Class Schedule</a>
                                            <div>
                                                <span class="hero-counter"> <span class="counter-number">2</span>k</span>
                                                <span class="counter-plus">+</span>
                                                <span class="counter-text"> Satisfied Customer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide  animeslide-slide">
                    <div class="th-hero-slide">
                        <div class="th-hero-bg" data-bg-src="assets/img/hero/hero_bg_1_1.png"></div>
                        <div class="th-hero_shape1"> </div>
                        <div class="th-hero_shape2"> </div>
                        <div class="th-hero_shape3">GYM</div>
                        <div class="th-hero_shape4"> </div>
                        <div class="th-hero_shape5 man2"> <img src="assets/img/hero/hero_bg_1_4.png" alt="man"> </div>
                        <div class="th-hero_shape6">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1060" height="860" viewBox="0 0 1060 860"
                                fill="none">
                                <path d="M390 -186H0L670 1086H1060L390 -186Z" fill="url(#paint0_linear_201_1082)" />
                                <defs>
                                    <linearGradient id="paint0_linear_201_1082" x1="530" y1="-186" x2="530" y2="1086"
                                        gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F41E1E" stop-opacity="0.3" />
                                        <stop offset="1" stop-color="#F41E1E" stop-opacity="0" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="th-hero_shape7">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1060" height="860" viewBox="0 0 1060 860"
                                fill="none">
                                <path d="M390 -186H0L670 1086H1060L390 -186Z" fill="url(#paint0_linear_201_1082)" />
                                <defs>
                                    <linearGradient id="paint0_linear_201_1082" x1="530" y1="-186" x2="530" y2="1086"
                                        gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F41E1E" stop-opacity="0.3" />
                                        <stop offset="1" stop-color="#F41E1E" stop-opacity="0" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="th-hero_shape8">
                            <svg xmlns="http://www.w3.org/2000/svg" width="814" height="636" viewBox="0 0 814 636"
                                fill="none">
                                <path d="M537.264 0H850L312.736 1020H0L537.264 0Z" fill="url(#paint0_linear_201_1091)" />
                                <defs>
                                    <linearGradient id="paint0_linear_201_1091" x1="425" y1="0" x2="425" y2="1020"
                                        gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F41E1E" stop-opacity="0.3" />
                                        <stop offset="1" stop-color="#F41E1E" stop-opacity="0" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="th-hero_shape9">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1040" height="860" viewBox="0 0 1040 860"
                                fill="none">
                                <path d="M670 -186H1060L390 1086H0L670 -186Z" fill="url(#paint0_linear_201_1090)" />
                                <defs>
                                    <linearGradient id="paint0_linear_201_1090" x1="530" y1="-186" x2="530" y2="1086"
                                        gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F41E1E" stop-opacity="0.3" />
                                        <stop offset="1" stop-color="#F41E1E" stop-opacity="0" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-9 col-xl-8">
                                    <div class="hero-style1">
                                        <span class="hero-subtitle"  data-animate="left"><span class="single-line"></span> Welcome to
                                            Fitkit Gym
                                        </span>
                                        <h1 class="hero-title text-white"   data-animate="left">Be A Fit Man With Training</h1>
                                        <p class="hero-text"   data-animate="left">Gym workouts are structured exercise sessions conducted
                                            in a
                                            fitness facility equipped with various exercise machines, free weights,
                                            and
                                            amenities.</p>
                                        <div class="hero-btn-wrapper"  data-animate="left">
                                            <a href="class-schedule.html" class="th-btn">View Class Schedule</a>
                                            <div>
                                                <span class="hero-counter"> <span class="counter-number">2</span>k</span>
                                                <span class="counter-plus">+</span>
                                                <span class="counter-text"> Satisfied Customer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide  animeslide-slide">
                    <div class="th-hero-slide">
                        <div class="th-hero-bg" data-bg-src="assets/img/hero/hero_bg_1_1.png"></div>
                        <div class="th-hero_shape1"> </div>
                        <div class="th-hero_shape2"> </div>
                        <div class="th-hero_shape3">GYM</div>
                        <div class="th-hero_shape4"> </div>
                        <div class="th-hero_shape5 man3"> <img src="assets/img/hero/hero_bg_1_5.png" alt="man"> </div>
                        <div class="th-hero_shape6">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1060" height="860" viewBox="0 0 1060 860"
                                fill="none">
                                <path d="M390 -186H0L670 1086H1060L390 -186Z" fill="url(#paint0_linear_201_1082)" />
                                <defs>
                                    <linearGradient id="paint0_linear_201_1082" x1="530" y1="-186" x2="530" y2="1086"
                                        gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F41E1E" stop-opacity="0.3" />
                                        <stop offset="1" stop-color="#F41E1E" stop-opacity="0" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="th-hero_shape7">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1060" height="860" viewBox="0 0 1060 860"
                                fill="none">
                                <path d="M390 -186H0L670 1086H1060L390 -186Z" fill="url(#paint0_linear_201_1082)" />
                                <defs>
                                    <linearGradient id="paint0_linear_201_1082" x1="530" y1="-186" x2="530" y2="1086"
                                        gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F41E1E" stop-opacity="0.3" />
                                        <stop offset="1" stop-color="#F41E1E" stop-opacity="0" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="th-hero_shape8">
                            <svg xmlns="http://www.w3.org/2000/svg" width="814" height="636" viewBox="0 0 814 636"
                                fill="none">
                                <path d="M537.264 0H850L312.736 1020H0L537.264 0Z" fill="url(#paint0_linear_201_1091)" />
                                <defs>
                                    <linearGradient id="paint0_linear_201_1091" x1="425" y1="0" x2="425" y2="1020"
                                        gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F41E1E" stop-opacity="0.3" />
                                        <stop offset="1" stop-color="#F41E1E" stop-opacity="0" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="th-hero_shape9">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1040" height="860" viewBox="0 0 1040 860"
                                fill="none">
                                <path d="M670 -186H1060L390 1086H0L670 -186Z" fill="url(#paint0_linear_201_1090)" />
                                <defs>
                                    <linearGradient id="paint0_linear_201_1090" x1="530" y1="-186" x2="530" y2="1086"
                                        gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F41E1E" stop-opacity="0.3" />
                                        <stop offset="1" stop-color="#F41E1E" stop-opacity="0" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-9 col-xl-8">
                                    <div class="hero-style1">
                                        <span class="hero-subtitle"  data-animate="left"><span class="single-line"></span> Welcome to
                                            Fitkit Gym
                                        </span>
                                        <h1 class="hero-title text-white"   data-animate="left">Ready To Train Your Body</h1>
                                        <p class="hero-text"   data-animate="left">Gym workouts are structured exercise sessions conducted
                                            in a
                                            fitness facility equipped with various exercise machines, free weights,
                                            and
                                            amenities.</p>
                                        <div class="hero-btn-wrapper"  data-animate="left">
                                            <a href="class-schedule.html" class="th-btn">View Class Schedule</a>
                                            <div>
                                                <span class="hero-counter"> <span class="counter-number">2</span>k</span>
                                                <span class="counter-plus">+</span>
                                                <span class="counter-text"> Satisfied Customer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide  animeslide-slide">
                    <div class="th-hero-slide">
                        <div class="th-hero-bg" data-bg-src="assets/img/hero/hero_bg_1_1.png"></div>
                        <div class="th-hero_shape1"> </div>
                        <div class="th-hero_shape2"> </div>
                        <div class="th-hero_shape3">GYM</div>
                        <div class="th-hero_shape4"> </div>
                        <div class="th-hero_shape5"> <img src="assets/img/hero/hero_bg_1_2.png" alt="man"> </div>
                        <div class="th-hero_shape6">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1060" height="860" viewBox="0 0 1060 860"
                                fill="none">
                                <path d="M390 -186H0L670 1086H1060L390 -186Z" fill="url(#paint0_linear_201_1082)" />
                                <defs>
                                    <linearGradient id="paint0_linear_201_1082" x1="530" y1="-186" x2="530" y2="1086"
                                        gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F41E1E" stop-opacity="0.3" />
                                        <stop offset="1" stop-color="#F41E1E" stop-opacity="0" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="th-hero_shape7">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1060" height="860" viewBox="0 0 1060 860"
                                fill="none">
                                <path d="M390 -186H0L670 1086H1060L390 -186Z" fill="url(#paint0_linear_201_1082)" />
                                <defs>
                                    <linearGradient id="paint0_linear_201_1082" x1="530" y1="-186" x2="530" y2="1086"
                                        gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F41E1E" stop-opacity="0.3" />
                                        <stop offset="1" stop-color="#F41E1E" stop-opacity="0" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="th-hero_shape8">
                            <svg xmlns="http://www.w3.org/2000/svg" width="814" height="636" viewBox="0 0 814 636"
                                fill="none">
                                <path d="M537.264 0H850L312.736 1020H0L537.264 0Z" fill="url(#paint0_linear_201_1091)" />
                                <defs>
                                    <linearGradient id="paint0_linear_201_1091" x1="425" y1="0" x2="425" y2="1020"
                                        gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F41E1E" stop-opacity="0.3" />
                                        <stop offset="1" stop-color="#F41E1E" stop-opacity="0" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="th-hero_shape9">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1040" height="860" viewBox="0 0 1040 860"
                                fill="none">
                                <path d="M670 -186H1060L390 1086H0L670 -186Z" fill="url(#paint0_linear_201_1090)" />
                                <defs>
                                    <linearGradient id="paint0_linear_201_1090" x1="530" y1="-186" x2="530" y2="1086"
                                        gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F41E1E" stop-opacity="0.3" />
                                        <stop offset="1" stop-color="#F41E1E" stop-opacity="0" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-9 col-xl-8">
                                    <div class="hero-style1">
                                        <span class="hero-subtitle"  data-animate="left"><span class="single-line"></span> Welcome to
                                            Fitkit Gym
                                        </span>
                                        <h1 class="hero-title text-white"   data-animate="left">Ready To Train Your Body</h1>
                                        <p class="hero-text"   data-animate="left">Gym workouts are structured exercise sessions conducted
                                            in a
                                            fitness facility equipped with various exercise machines, free weights,
                                            and
                                            amenities.</p>
                                        <div class="hero-btn-wrapper"  data-animate="left">
                                            <a href="class-schedule.html" class="th-btn">View Class Schedule</a>
                                            <div>
                                                <span class="hero-counter"> <span class="counter-number">2</span>k</span>
                                                <span class="counter-plus">+</span>
                                                <span class="counter-text"> Satisfied Customer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide  animeslide-slide">
                    <div class="th-hero-slide">
                        <div class="th-hero-bg" data-bg-src="assets/img/hero/hero_bg_1_1.png"></div>
                        <div class="th-hero_shape1"> </div>
                        <div class="th-hero_shape2"> </div>
                        <div class="th-hero_shape3">GYM</div>
                        <div class="th-hero_shape4"> </div>
                        <div class="th-hero_shape5 man2"> <img src="assets/img/hero/hero_bg_1_4.png" alt="man"> </div>
                        <div class="th-hero_shape6">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1060" height="860" viewBox="0 0 1060 860"
                                fill="none">
                                <path d="M390 -186H0L670 1086H1060L390 -186Z" fill="url(#paint0_linear_201_1082)" />
                                <defs>
                                    <linearGradient id="paint0_linear_201_1082" x1="530" y1="-186" x2="530" y2="1086"
                                        gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F41E1E" stop-opacity="0.3" />
                                        <stop offset="1" stop-color="#F41E1E" stop-opacity="0" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="th-hero_shape7">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1060" height="860" viewBox="0 0 1060 860"
                                fill="none">
                                <path d="M390 -186H0L670 1086H1060L390 -186Z" fill="url(#paint0_linear_201_1082)" />
                                <defs>
                                    <linearGradient id="paint0_linear_201_1082" x1="530" y1="-186" x2="530" y2="1086"
                                        gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F41E1E" stop-opacity="0.3" />
                                        <stop offset="1" stop-color="#F41E1E" stop-opacity="0" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="th-hero_shape8">
                            <svg xmlns="http://www.w3.org/2000/svg" width="814" height="636" viewBox="0 0 814 636"
                                fill="none">
                                <path d="M537.264 0H850L312.736 1020H0L537.264 0Z" fill="url(#paint0_linear_201_1091)" />
                                <defs>
                                    <linearGradient id="paint0_linear_201_1091" x1="425" y1="0" x2="425" y2="1020"
                                        gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F41E1E" stop-opacity="0.3" />
                                        <stop offset="1" stop-color="#F41E1E" stop-opacity="0" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="th-hero_shape9">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1040" height="860" viewBox="0 0 1040 860"
                                fill="none">
                                <path d="M670 -186H1060L390 1086H0L670 -186Z" fill="url(#paint0_linear_201_1090)" />
                                <defs>
                                    <linearGradient id="paint0_linear_201_1090" x1="530" y1="-186" x2="530" y2="1086"
                                        gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F41E1E" stop-opacity="0.3" />
                                        <stop offset="1" stop-color="#F41E1E" stop-opacity="0" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-9 col-xl-8">
                                    <div class="hero-style1">
                                        <span class="hero-subtitle"  data-animate="left"><span class="single-line"></span> Welcome to
                                            Fitkit Gym
                                        </span>
                                        <h1 class="hero-title text-white"   data-animate="left">Ready To Train Your Body</h1>
                                        <p class="hero-text"   data-animate="left">Gym workouts are structured exercise sessions conducted
                                            in a
                                            fitness facility equipped with various exercise machines, free weights,
                                            and
                                            amenities.</p>
                                        <div class="hero-btn-wrapper"  data-animate="left">
                                            <a href="class-schedule.html" class="th-btn">View Class Schedule</a>
                                            <div>
                                                <span class="hero-counter"> <span class="counter-number">2</span>k</span>
                                                <span class="counter-plus">+</span>
                                                <span class="counter-text"> Satisfied Customer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide  animeslide-slide">
                    <div class="th-hero-slide">
                        <div class="th-hero-bg" data-bg-src="assets/img/hero/hero_bg_1_1.png"></div>
                        <div class="th-hero_shape1"> </div>
                        <div class="th-hero_shape2"> </div>
                        <div class="th-hero_shape3">GYM</div>
                        <div class="th-hero_shape4"> </div>
                        <div class="th-hero_shape5 man3"> <img src="assets/img/hero/hero_bg_1_5.png" alt="man"> </div>
                        <div class="th-hero_shape6">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1060" height="860" viewBox="0 0 1060 860"
                                fill="none">
                                <path d="M390 -186H0L670 1086H1060L390 -186Z" fill="url(#paint0_linear_201_1082)" />
                                <defs>
                                    <linearGradient id="paint0_linear_201_1082" x1="530" y1="-186" x2="530" y2="1086"
                                        gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F41E1E" stop-opacity="0.3" />
                                        <stop offset="1" stop-color="#F41E1E" stop-opacity="0" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="th-hero_shape7">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1060" height="860" viewBox="0 0 1060 860"
                                fill="none">
                                <path d="M390 -186H0L670 1086H1060L390 -186Z" fill="url(#paint0_linear_201_1082)" />
                                <defs>
                                    <linearGradient id="paint0_linear_201_1082" x1="530" y1="-186" x2="530" y2="1086"
                                        gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F41E1E" stop-opacity="0.3" />
                                        <stop offset="1" stop-color="#F41E1E" stop-opacity="0" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="th-hero_shape8">
                            <svg xmlns="http://www.w3.org/2000/svg" width="814" height="636" viewBox="0 0 814 636"
                                fill="none">
                                <path d="M537.264 0H850L312.736 1020H0L537.264 0Z" fill="url(#paint0_linear_201_1091)" />
                                <defs>
                                    <linearGradient id="paint0_linear_201_1091" x1="425" y1="0" x2="425" y2="1020"
                                        gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F41E1E" stop-opacity="0.3" />
                                        <stop offset="1" stop-color="#F41E1E" stop-opacity="0" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="th-hero_shape9">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1040" height="860" viewBox="0 0 1040 860"
                                fill="none">
                                <path d="M670 -186H1060L390 1086H0L670 -186Z" fill="url(#paint0_linear_201_1090)" />
                                <defs>
                                    <linearGradient id="paint0_linear_201_1090" x1="530" y1="-186" x2="530" y2="1086"
                                        gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F41E1E" stop-opacity="0.3" />
                                        <stop offset="1" stop-color="#F41E1E" stop-opacity="0" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-9 col-xl-8">
                                    <div class="hero-style1">
                                        <span class="hero-subtitle"  data-animate="left"><span class="single-line"></span> Welcome to
                                            Fitkit Gym
                                        </span>
                                        <h1 class="hero-title text-white"    data-animate="left">Ready To Train Your Body</h1>
                                        <p class="hero-text"  data-animate="left">Gym workouts are structured exercise sessions conducted
                                            in a
                                            fitness facility equipped with various exercise machines, free weights,
                                            and
                                            amenities.</p>
                                        <div class="hero-btn-wrapper"  data-animate="left">
                                            <a href="class-schedule.html" class="th-btn">View Class Schedule</a>
                                            <div>
                                                <span class="hero-counter"> <span class="counter-number">2</span>k</span>
                                                <span class="counter-plus">+</span>
                                                <span class="counter-text"> Satisfied Customer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="swiper-button-next hero-slider-next">
                <div class="icon-box">
                    <button class="slider-arrow slider-next default">
                        <span class="icon"></span>
                    </button>
                </div>
            </div>
            <div class="swiper-button-prev  hero-slider-prev">
                <div class="icon-box">
                    <button class="slider-arrow slider-prev default">
                        <span class="icon"></span>
                    </button>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
     </div>
    </div> 
</div>
<!--======== / Hero Section ========-->