<!--==============================
    Hero Area 03
==============================-->
<div class="th-hero-wrapper hero-3" id="hero">
    <div class="swiper animeslide"> 
        <div class="swiper heroSliderThree">
            <div class="swiper-wrapper">
                <div class="swiper-slide  animeslide-slide">
                    <div class="th-hero-slide">
                        <div class="th-hero-bg" data-bg-src="assets/img/hero/hero_bg_3_1.png"></div> 
                        <div class="container  ">
                            <div class="row justify-content-center">
                                <div class="col-md-8">
                                    <div class="hero-style3 text-center">
                                        <span class="hero-subtitle ms-0"  data-animate="left">Ready to change your physique, but can't work out in the gym?
                                        </span>
                                        <h1 class="hero-title text-white"   data-animate="left">Keep Your Body Fit & Strong</h1> 
                                        <div class="hero-btn-wrapper style2"  data-animate="left">
                                            <a href="contact.html" class="th-btn style2 mr-30">Join With Us</a> 
                                            <a href="../services.html" class="th-btn style5">Our Services</a>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
                <div class="swiper-slide  animeslide-slide">
                    <div class="th-hero-slide">
                        <div class="th-hero-bg" data-bg-src="assets/img/hero/hero_bg_3_1.png"></div> 
                        <div class="container  ">
                            <div class="row justify-content-center">
                                <div class="col-md-8">
                                    <div class="hero-style3 text-center">
                                        <span class="hero-subtitle ms-0"  data-animate="left">Ready to change your physique, but can't work out in the gym?
                                        </span>
                                        <h1 class="hero-title text-white"   data-animate="left">Keep Your Body Fit & Strong</h1> 
                                        <div class="hero-btn-wrapper style2"  data-animate="left">
                                            <a href="contact.html" class="th-btn style2 mr-30">Join With Us</a> 
                                            <a href="../services.html" class="th-btn style5">Our Services</a>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                   <div class="swiper-slide  animeslide-slide">
                    <div class="th-hero-slide">
                        <div class="th-hero-bg" data-bg-src="assets/img/hero/hero_bg_3_1.png"></div> 
                        <div class="container  ">
                            <div class="row justify-content-center">
                                <div class="col-md-8">
                                    <div class="hero-style3 text-center">
                                        <span class="hero-subtitle ms-0"  data-animate="left">Ready to change your physique, but can't work out in the gym?
                                        </span>
                                        <h1 class="hero-title text-white"  data-animate="left">Keep Your Body Fit & Strong</h1> 
                                        <div class="hero-btn-wrapper style2"  data-animate="left">
                                            <a href="contact.html" class="th-btn style2 mr-30">Join With Us</a> 
                                            <a href="../services.html" class="th-btn style5">Our Services</a>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                   <div class="swiper-slide  animeslide-slide">
                    <div class="th-hero-slide">
                        <div class="th-hero-bg" data-bg-src="assets/img/hero/hero_bg_3_1.png"></div> 
                        <div class="container  ">
                            <div class="row justify-content-center">
                                <div class="col-md-8">
                                    <div class="hero-style3 text-center">
                                        <span class="hero-subtitle ms-0"  data-animate="left">Ready to change your physique, but can't work out in the gym?
                                        </span>
                                        <h1 class="hero-title text-white"  data-animate="left">Keep Your Body Fit & Strong</h1> 
                                        <div class="hero-btn-wrapper style2"  data-animate="left">
                                            <a href="contact.html" class="th-btn style2 mr-30">Join With Us</a> 
                                            <a href="../services.html" class="th-btn style5">Our Services</a>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                   
                <div class="swiper-slide  animeslide-slide">
                    <div class="th-hero-slide">
                        <div class="th-hero-bg" data-bg-src="assets/img/hero/hero_bg_3_1.png"></div> 
                        <div class="container  ">
                            <div class="row justify-content-center">
                                <div class="col-md-8">
                                    <div class="hero-style3 text-center"  data-animate="left">
                                        <span class="hero-subtitle ms-0">Ready to change your physique, but can't work out in the gym?
                                        </span>
                                        <h1 class="hero-title text-white"   data-animate="left">Keep Your Body Fit & Strong</h1> 
                                        <div class="hero-btn-wrapper style2"  data-animate="left">
                                            <a href="contact.html" class="th-btn style2 mr-30">Join With Us</a> 
                                            <a href="../services.html" class="th-btn style5">Our Services</a>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
    
            <div class="swiper-button-next hero3-slider-next">
                <div class="icon-box">
                    <button class="slider-arrow3 slider-next3 default">
                        <span class="next-icon"><img class="arrow" src="assets/img/theme-img/arrow-right.svg" alt="next-icon"> <span> <img src="assets/img/hero/next.png" alt="next"> </span></span>
                    </button>
                </div>
            </div>
            <div class="swiper-button-prev  hero3-slider-prev">
                <div class="icon-box">
                    <button class="slider-arrow3 slider-prev3 default">
                        <span class="prev-icon"><img class="arrow" src="assets/img/theme-img/arrow-left.svg" alt="prev-icon"> <span> <img src="assets/img/hero/prev.png" alt="prev">  </span></span>
                    </button>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div> 
</div>
<!--======== / Hero Section ========-->