<!--==============================
    Hero Area 02
==============================-->
<div class="th-hero-wrapper hero-2" id="hero">
    <div class="swiper animeslide"> 
        <div class="swiper heroSliderTwo">
            <div class="swiper-wrapper">
                <div class="swiper-slide  animeslide-slide">
                    <div class="th-hero-slide">
                        <div class="th-hero-bg" data-bg-src="assets/img/hero/hero_bg_2_1.png"></div> 
                        <div class="container  ">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="hero-style2">
                                        <span class="hero-subtitle"  data-animate="left"><span class="single-line"></span> Keep Your Body Fitness With Workouts
                                        </span>
                                        <h1 class="hero-title text-white"   data-animate="left">Your Fitness Your Victory</h1>
                                        <p class="hero-text"   data-animate="left">Ready to change your physique, but can't work out in the gym?</p>
                                        <div class="btn-group"  data-animate="left">
                                            <a href="contact.html" class="th-btn style2">Join With Us</a> 
                                            <a href="services.html" class="th-btn style5">Our Services</a>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="swiper-slide  animeslide-slide">
                    <div class="th-hero-slide">
                        <div class="th-hero-bg" data-bg-src="assets/img/hero/hero_bg_2_2.png"></div> 
                        <div class="container  ">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="hero-style2">
                                        <span class="hero-subtitle"  data-animate="left"><span class="single-line"></span> Keep Your Body Fitness With Workouts
                                        </span>
                                        <h1 class="hero-title text-white"   data-animate="left">Your Fitness Your Victory</h1>
                                        <p class="hero-text"   data-animate="left">Ready to change your physique, but can't work out in the gym?</p>
                                        <div class="btn-group"  data-animate="left">
                                            <a href="contact.html" class="th-btn style2">Join With Us</a> 
                                            <a href="services.html" class="th-btn style5">Our Services</a>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="swiper-slide  animeslide-slide">
                    <div class="th-hero-slide">
                        <div class="th-hero-bg" data-bg-src="assets/img/hero/hero_bg_2_1.png"></div> 
                        <div class="container  ">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="hero-style2">
                                        <span class="hero-subtitle"  data-animate="left"><span class="single-line"></span> Keep Your Body Fitness With Workouts
                                        </span>
                                        <h1 class="hero-title text-white"  data-animate="left">Your Fitness Your Victory</h1>
                                        <p class="hero-text"   data-animate="left">Ready to change your physique, but can't work out in the gym?</p>
                                        <div class="btn-group"  data-animate="left">
                                            <a href="contact.html" class="th-btn style2">Join With Us</a> 
                                            <a href="services.html" class="th-btn style5">Our Services</a>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="swiper-slide  animeslide-slide">
                    <div class="th-hero-slide">
                        <div class="th-hero-bg" data-bg-src="assets/img/hero/hero_bg_2_2.png"></div> 
                        <div class="container  ">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="hero-style2">
                                        <span class="hero-subtitle"  data-animate="left"><span class="single-line"></span> Keep Your Body Fitness With Workouts
                                        </span>
                                        <h1 class="hero-title text-white"   data-animate="left">Your Fitness Your Victory</h1>
                                        <p class="hero-text"    data-animate="left">Ready to change your physique, but can't work out in the gym?</p>
                                        <div class="btn-group"  data-animate="left">
                                            <a href="contact.html" class="th-btn style2">Join With Us</a> 
                                            <a href="services.html" class="th-btn style5">Our Services</a>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="swiper-slide  animeslide-slide">
                    <div class="th-hero-slide">
                        <div class="th-hero-bg" data-bg-src="assets/img/hero/hero_bg_2_1.png"></div> 
                        <div class="container  ">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="hero-style2">
                                        <span class="hero-subtitle"  data-animate="left"><span class="single-line"></span> Keep Your Body Fitness With Workouts
                                        </span>
                                        <h1 class="hero-title text-white"   data-animate="left">Your Fitness Your Victory</h1>
                                        <p class="hero-text"   data-animate="left">Ready to change your physique, but can't work out in the gym?</p>
                                        <div class="btn-group" data-animate="left">
                                            <a href="contact.html" class="th-btn style2">Join With Us</a> 
                                            <a href="services.html" class="th-btn style5">Our Services</a>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="swiper-slide  animeslide-slide">
                    <div class="th-hero-slide">
                        <div class="th-hero-bg" data-bg-src="assets/img/hero/hero_bg_2_2.png"></div> 
                        <div class="container  ">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="hero-style2">
                                        <span class="hero-subtitle"  data-animate="left"><span class="single-line"></span> Keep Your Body Fitness With Workouts
                                        </span>
                                        <h1 class="hero-title text-white"   data-animate="left">Your Fitness Your Victory</h1>
                                        <p class="hero-text"   data-animate="left">Ready to change your physique, but can't work out in the gym?</p>
                                        <div class="btn-group"  data-animate="left">
                                            <a href="contact.html" class="th-btn style2">Join With Us</a> 
                                            <a href="services.html" class="th-btn style5">Our Services</a>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="swiper-slide  animeslide-slide">
                    <div class="th-hero-slide">
                        <div class="th-hero-bg" data-bg-src="assets/img/hero/hero_bg_2_1.png"></div> 
                        <div class="container  ">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="hero-style2">
                                        <span class="hero-subtitle"  data-animate="left"><span class="single-line"></span> Keep Your Body Fitness With Workouts
                                        </span>
                                        <h1 class="hero-title text-white"  data-animate="left">Your Fitness Your Victory</h1>
                                        <p class="hero-text"  data-animate="left">Ready to change your physique, but can't work out in the gym?</p>
                                        <div class="btn-group"  data-animate="left">
                                            <a href="contact.html" class="th-btn style2">Join With Us</a> 
                                            <a href="services.html" class="th-btn style5">Our Services</a>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
    
            <div class="swiper-button-next hero2-slider-next">
                <div class="icon-box">
                    <button class="slider-arrow2 slider-next2 default">
                        <span class="next-icon"><img class="arrow" src="assets/img/theme-img/arrow-right.svg" alt="next-icon"> <span> <img src="assets/img/hero/next.png" alt="next"> </span></span>
                    </button>
                </div>
            </div>
            <div class="swiper-button-prev  hero2-slider-prev">
                <div class="icon-box">
                    <button class="slider-arrow2 slider-prev2 default">
                        <span class="prev-icon"><img class="arrow" src="assets/img/theme-img/arrow-left.svg" alt="prev-icon"> <span> <img src="assets/img/hero/prev.png" alt="prev">  </span></span>
                    </button>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div> 
</div>
<!--======== / Hero Section ========-->