<!-- ==============================
    Portfolio Area 01
============================== -->
<div class="portfolio-area overflow-hidden">
    <div class="container-fluid">
        <div class="title-area text-center">
            <span class="sub-title ms-0"><span class="double-line"></span> Why Choose Us </span>
            <h2 class="sec-title text-white">Keep Going With Your Passion</h2>
          </div>

          <div class="portfolio-slider-area">
            <div class="swiper portfolioSliderOne">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="portfolio-card">
                            <div class="portfolio_thumb"><img src="assets/img/portfolio/portfolio1_1.png" alt="portfolio_thumb"></div>
                            <div class="portfolio_body">
                                <div class="text">
                                    <div class="subtitle">GYM FITNESS</div>
                                    <div class="title">Body Fitness Workout</div>
                                </div>
                                <div class="number">01</div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="portfolio-card">
                            <div class="portfolio_thumb"><img src="assets/img/portfolio/portfolio1_2.png" alt="portfolio_thumb"></div>
                            <div class="portfolio_body">
                                <div class="text">
                                    <div class="subtitle">GYM FITNESS</div>
                                    <div class="title">Body Fitness Workout</div>
                                </div>
                                <div class="number">01</div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="portfolio-card">
                            <div class="portfolio_thumb"><img src="assets/img/portfolio/portfolio1_3.png" alt="portfolio_thumb"></div>
                            <div class="portfolio_body">
                                <div class="text">
                                    <div class="subtitle">GYM FITNESS</div>
                                    <div class="title">Body Fitness Workout</div>
                                </div>
                                <div class="number">01</div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="portfolio-card">
                            <div class="portfolio_thumb"><img src="assets/img/portfolio/portfolio1_4.png" alt="portfolio_thumb"></div>
                            <div class="portfolio_body">
                                <div class="text">
                                    <div class="subtitle">GYM FITNESS</div>
                                    <div class="title">Body Fitness Workout</div>
                                </div>
                                <div class="number">01</div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="portfolio-card">
                            <div class="portfolio_thumb"><img src="assets/img/portfolio/portfolio1_1.png" alt="portfolio_thumb"></div>
                            <div class="portfolio_body">
                                <div class="text">
                                    <div class="subtitle">GYM FITNESS</div>
                                    <div class="title">Body Fitness Workout</div>
                                </div>
                                <div class="number">01</div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="portfolio-card">
                            <div class="portfolio_thumb"><img src="assets/img/portfolio/portfolio1_2.png" alt="portfolio_thumb"></div>
                            <div class="portfolio_body">
                                <div class="text">
                                    <div class="subtitle">GYM FITNESS</div>
                                    <div class="title">Body Fitness Workout</div>
                                </div>
                                <div class="number">01</div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="portfolio-card">
                            <div class="portfolio_thumb"><img src="assets/img/portfolio/portfolio1_3.png" alt="portfolio_thumb"></div>
                            <div class="portfolio_body">
                                <div class="text">
                                    <div class="subtitle">GYM FITNESS</div>
                                    <div class="title">Body Fitness Workout</div>
                                </div>
                                <div class="number">01</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-pagination"></div>
                
            </div>
        </div> 
    </div>
</div>