<!--==============================
Price Area 2 
==============================-->
<div class="pricing-area2 space overflow-hidden"  data-bg-src="assets/img/pricing/pricing_bg.png">
    <div class="shape1 moving"><img src="assets/img/pricing/shape1.png" alt="shape1"></div>
    <div class="shape2 jump"><img src="assets/img/pricing/shape2.png" alt="shape2"></div>
    <div class="container">
        <div class="row gx-30 d-flex justify-content-lg-start justify-content-center">
            <div class="title-area text-left"> 
                <span class="sub-title"><span class="single-line"></span> Pricing Plan </span>
                <h2 class="sec-title text-white">Our Fitness Pricing Plan</h2>
            </div>
            <div class="col-xl-4 col-lg-5 d-flex justify-content-center">
                <div class="pricing-card style2">      
                    <h3 class="pricing-card_title">Basic Plan</h3> 
                    <h4 class="pricing-card_price"><span class="currency">$</span>150<span class="duration">/month</span>
                    </h4>
                    <div class="checklist">
                        <ul>
                            <li><i class="far fa-check-circle"></i>20 Trainings</li>
                            <li><i class="far fa-check-circle"></i>Free shower & lockers</li>
                            <li><i class="far fa-check-circle"></i>Reliable & Experienced Team</li>
                            <li><i class="far fa-check-circle"></i>Free parking</li>
                        </ul>
                    </div>  
                    <div class="btn-wrapper justify-content-start">
                        <a class="th-btn style2" href="pricing.html">Purchase Now</a>
                    </div>     
                    
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 d-flex justify-content-center">
                <div class="pricing-card style2">      
                    <h3 class="pricing-card_title">Premium Plan</h3> 
                    <h4 class="pricing-card_price"><span class="currency">$</span>250<span class="duration">/month</span>
                    </h4>
                    <div class="checklist">
                        <ul>
                            <li><i class="far fa-check-circle"></i>20 Trainings</li>
                            <li><i class="far fa-check-circle"></i>Free shower & lockers</li>
                            <li><i class="far fa-check-circle"></i>Reliable & Experienced Team</li>
                            <li><i class="far fa-check-circle"></i>Free parking</li>
                        </ul>
                    </div>  
                    <div class="btn-wrapper justify-content-start">
                        <a class="th-btn style2" href="pricing.html">Purchase Now</a>
                    </div>     
                    
                </div>
            </div>
        </div> 
    </div>
</div>