<!-- ==============================
Price Area  
============================== -->
<div class="pricing-area space overflow-hidden">
    <div class="container">
        <div class="row gx-0 mx-auto">
            <div class="col-12  col-xl-7">
                <div class="title-area text-left mb-30">

                    <span class="sub-title"><span class="single-line"></span> Pricing Plan </span>
                    <h2 class="sec-title mb-30">Find Your Perfect Plan</h2>
                </div>
            </div>
            <div class="col-12 col-xl-5 d-flex justify-content-xl-end justify-content-lg-start">
                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link rounded-0 active pricing-btn" id="pills-monthly-tab" data-bs-toggle="pill" data-bs-target="#pills-monthly" type="button" role="tab" aria-controls="pills-monthly" aria-selected="true">Monthly</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link rounded-0  pricing-btn" id="pills-yearly-tab" data-bs-toggle="pill" data-bs-target="#pills-yearly" type="button" role="tab" aria-controls="pills-yearly" aria-selected="false">Yearly</button>
                    </li> 
                  </ul> 
            </div>
        </div>

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade  show active" id="pills-monthly" role="tabpanel" aria-labelledby="pills-monthly-tab" tabindex="0">
                <div class="row gx-0 gy-30 justify-content-center">
                    <div class="col-auto  justify-content-center  mt-lg-30">
                        <div class="pricing-card active-plan">
                            <div class="row gx-0 gx-lg-20 justify-content-md-start justify-content-center mx-auto">
                                <div class="col-12 col-xl-auto col-md-auto col-lg-auto text-left">
                                    <div class="pricing-card_header">
                                        <h3 class="pricing-card_title">Basic Plan</h3>
                                        <h4 class="pricing-card_price">
                                            <span class="price">$150</span>
                                            / Month
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-auto col-md-auto col-lg-auto my-auto">
                                    <div class="pricing-card_content">
                                        <ul class="available-list">
                                            <li><i class="fa-solid fa-check"></i>20 Trainings</li>
                                            <li><i class="fa-solid fa-check"></i>Free shower & lockers</li>
                                            <li><i class="fa-solid fa-check"></i>Reliable & Experienced Team</li>
                                        </ul>
                                        <ul class="unavailable-list">
                                            <li><i class="fa-solid fa-check"></i>Free parking</li>
                                            <li class="unavailable"><i class="fa-solid fa-times"></i>5 Days Per Week</li>
                                            <li class="unavailable"><i class="fa-solid fa-times"></i>Nutrition Program</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-auto col-md-12 col-lg-auto">
                                    <a href="pricing.html" class="pricing-card_pricing-btn">CHOOSE PLAN</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto  justify-content-center">
                        <div class="pricing-card">
                            <div class="row gx-0 gx-lg-20 justify-content-md-start  justify-content-center mx-auto">
                                <div class="col-12 col-xl-auto col-md-auto col-lg-auto  text-left">
                                    <div class="pricing-card_header pricing-card_header_standard">
                                        <h3 class="pricing-card_title">Standard Plan</h3>
                                        <h4 class="pricing-card_price">
                                            <span class="price">$200</span>
                                            / Month
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-auto col-md-auto col-lg-auto my-auto">
                                    <div class="pricing-card_content">
                                        <ul class="available-list">
                                            <li><i class="fa-solid fa-check"></i>20 Trainings</li>
                                            <li><i class="fa-solid fa-check"></i>Free shower & lockers</li>
                                            <li><i class="fa-solid fa-check"></i>Reliable & Experienced Team</li>
                                        </ul>
                                        <ul class="unavailable-list">
                                            <li><i class="fa-solid fa-check"></i>Free parking</li>
                                            <li><i class="fa-solid fa-check"></i>5 Days Per Week</li>
                                            <li class="unavailable"><i class="fa-solid fa-times"></i>Nutrition Program</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-auto col-md-12 col-lg-auto">
                                    <a href="pricing.html" class="pricing-card_pricing-btn">CHOOSE PLAN</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto  justify-content-center">
                        <div class="pricing-card">
                            <div class="row gx-0 gx-lg-20 justify-content-md-start  justify-content-center mx-auto">
                                <div class="col-12 col-xl-auto col-md-auto col-lg-auto ">
                                    <div class="pricing-card_header pricing-card_header_premium">
                                        <h3 class="pricing-card_title">
                                            Premium Plan
                                        </h3>
                                        <h4 class="pricing-card_price">
                                            <span class="price">$250</span>
                                            / Month
                                        </h4>
                                    </div>
        
                                </div>
                                <div class="col-12 col-xl-auto col-md-auto col-lg-auto my-auto">
                                    <div class="pricing-card_content">
                                        <ul class="available-list">
                                            <li><i class="fa-solid fa-check"></i>20 Trainings</li>
                                            <li><i class="fa-solid fa-check"></i>Free shower & lockers</li>
                                            <li><i class="fa-solid fa-check"></i>Reliable & Experienced Team</li>
                                        </ul>
                                        <ul class="unavailable-list">
                                            <li><i class="fa-solid fa-check"></i>Free parking</li>
                                            <li><i class="fa-solid fa-check"></i>5 Days Per Week</li>
                                            <li><i class="fa-solid fa-check"></i>Nutrition Program</li>
                                        </ul>
                                    </div>
        
                                </div>
                                <div class="col-12 col-xl-auto col-md-12 col-lg-auto "> 
                                    <a href="pricing.html" class="pricing-card_pricing-btn">CHOOSE PLAN</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-yearly" role="tabpanel" aria-labelledby="pills-yearly-tab" tabindex="0">
                <div class="row gx-0 gy-30 justify-content-center">
                    <div class="col-auto justify-content-center  mt-lg-30">
                        <div class="pricing-card">
                            <div class="row gx-0 gx-lg-20 justify-content-center mx-auto">
                                <div class="col-12 col-xl-auto col-md-auto col-lg-auto text-left">
                                    <div class="pricing-card_header pricing-card_header_basic_yearly">
                                        <h3 class="pricing-card_title">Basic Plan</h3>
                                        <h4 class="pricing-card_price">
                                            <span class="price">$250</span>
                                            / yearly
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-auto col-md-auto col-lg-auto my-auto">
                                    <div class="pricing-card_content">
                                        <ul class="available-list">
                                            <li><i class="fa-solid fa-check"></i>20 Trainings</li>
                                            <li><i class="fa-solid fa-check"></i>Free shower & lockers</li>
                                            <li><i class="fa-solid fa-check"></i>Reliable & Experienced Team</li>
                                        </ul>
                                        <ul class="unavailable-list">
                                            <li><i class="fa-solid fa-check"></i>Free parking</li>
                                            <li class="unavailable"><i class="fa-solid fa-times"></i>5 Days Per Week</li>
                                            <li class="unavailable"><i class="fa-solid fa-times"></i>Nutrition Program</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-auto col-md-12 col-lg-auto">
                                    <a href="pricing.html" class="pricing-card_pricing-btn">CHOOSE PLAN</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto justify-content-center">
                        <div class="pricing-card active-plan">
                            <div class="row gx-0 gx-lg-20 justify-content-center mx-auto">
                                <div class="col-12 col-xl-auto col-md-auto col-lg-auto text-left">
                                    <div class="pricing-card_header pricing-card_header_standard">
                                        <h3 class="pricing-card_title">Standard Plan</h3>
                                        <h4 class="pricing-card_price">
                                            <span class="price">$300</span>
                                            / yearly
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-auto col-md-auto col-lg-auto my-auto">
                                    <div class="pricing-card_content">
                                        <ul class="available-list">
                                            <li><i class="fa-solid fa-check"></i>20 Trainings</li>
                                            <li><i class="fa-solid fa-check"></i>Free shower & lockers</li>
                                            <li><i class="fa-solid fa-check"></i>Reliable & Experienced Team</li>
                                        </ul>
                                        <ul class="unavailable-list">
                                            <li><i class="fa-solid fa-check"></i>Free parking</li>
                                            <li><i class="fa-solid fa-check"></i>5 Days Per Week</li>
                                            <li class="unavailable"><i class="fa-solid fa-times"></i>Nutrition Program</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-auto col-md-12 col-lg-auto ">
                                    <a href="pricing.html" class="pricing-card_pricing-btn">CHOOSE PLAN</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto justify-content-center">
                        <div class="pricing-card">
                            <div class="row gx-0 gx-lg-20 justify-content-center mx-auto">
                                <div class="col-12 col-xl-auto col-md-auto col-lg-auto">
                                    <div class="pricing-card_header pricing-card_header_premium">
                                        <h3 class="pricing-card_title">
                                            Premium Plan
                                        </h3>
                                        <h4 class="pricing-card_price">
                                            <span class="price">$350</span>
                                            / yearly
                                        </h4>
                                    </div>
        
                                </div>
                                <div class="col-12 col-xl-auto col-md-auto col-lg-auto my-auto">
                                    <div class="pricing-card_content">
                                        <ul class="available-list">
                                            <li><i class="fa-solid fa-check"></i>20 Trainings</li>
                                            <li><i class="fa-solid fa-check"></i>Free shower & lockers</li>
                                            <li><i class="fa-solid fa-check"></i>Reliable & Experienced Team</li>
                                        </ul>
                                        <ul class="unavailable-list">
                                            <li><i class="fa-solid fa-check"></i>Free parking</li>
                                            <li><i class="fa-solid fa-check"></i>5 Days Per Week</li>
                                            <li><i class="fa-solid fa-check"></i>Nutrition Program</li>
                                        </ul>
                                    </div>
        
                                </div>
                                <div class="col-12 col-xl-auto col-md-12 col-lg-auto col-lg-auto">
        
                                    <a href="pricing.html" class="pricing-card_pricing-btn">CHOOSE PLAN</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
          </div> 
    </div>
</div>