<!--==============================
Single Appointment Page Area  
==============================-->
<div class="appointment-page-area space-top overflow-hidden">
    <div class="container">
        <div class="row gx-30">
            <div class="col-12">
                <div class="query_form_wrapper">
                    <h5 class="text-center">Book An Appointment</h5>
                    <form class="query_form">
                        <div class="row">
                            <div class="col-12 col-xl-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Your Name">
                                    <i class="fal fa-user"></i>
                                </div>
                            </div>
                            <div class="col-12 col-xl-6">
                                <div class="form-group">
                                    <input type="email" placeholder="Your Email">
                                    <i class="fal fa-envelope"></i>
                                </div>
                            </div>
                            <div class="col-12 col-xl-6">
                                <div class="form-group">
                                    <input type="tel" placeholder="Phone Number">
                                    <i class="fal fa-phone"></i>
                                </div>
                            </div>
                            <div class="col-12 col-xl-6">
                                <div class="form-group">
                                    <select name="age" class="form-select style3">
                                        <option value="" disabled="disabled" selected="selected" hidden="">Age</option>
                                        <option value="1">22</option>
                                        <option value="2">23</option>  
                                        <option value="3">24</option> 
                                        <option value="4">25</option> 
                                        <option value="5">26</option> 
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <select name="services" class="form-select form-control style-border style3 rounded-border services">
                                        <option value="" disabled="disabled" selected="selected" hidden="">Services</option>
                                        <option value="1">Body Balance</option>
                                        <option value="2">Beginner Pilates</option>  
                                        <option value="3">Gym & Fitness</option> 
                                        <option value="4">Cardio Strength</option> 
                                        <option value="5">Muscle Building</option> 
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea placeholder="Type Appointment note..." class="form-control"></textarea>
                                    <i class="fal fa-pencil"></i>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="th-btn style8 w-100">BOOK AN APPOINTMENT</button>
                            </div>
                            
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
</div>