<!--==============================
   Single Service Details page Area  
==============================-->
<div class="service-details-page-area space bg-white overflow-hidden">
    <div class="container">
        <div class="row gx-30 gy-20">
            <div class="col-xl-8 col-md-7">
                <div class="service-details_content pr-10">
                    <div class="service-details_thumb">
                        <img src="assets/img/service/service-details1_1.png" alt="thumb">
                    </div>
                    <h3 class="service-details_title">Gym & Fitness Training</h3>
                    <div class="service-details_text">
                        <p>Gyms are adaptable to various fitness levels and preferences, catering to beginners and advanced individuals alike. Gyms prioritize safety and hygiene with equipment. Gyms offer a diverse range of exercise equipment, including cardio machines (treadmills, elliptical trainers), resistance machines, free weights (dumbbells, barbells), and functional training areas. Weightlifting and resistance training equipment in gyms target specific muscle groups, promoting strength, muscle tone, and overall body composition improvement. <br><br>
                            
                            Treadmills, stationary bikes, and elliptical machines are commonly used for cardiovascular workouts, helping to improve endurance, burn calories, and enhance heart health. Many individuals benefit from personalized workout plans designed by fitness professionals or personal trainers to address specific fitness goals, such as muscle gain, weight loss, or improved athletic performance.</p>
                    </div>
                    <h5 class="service-details_subtitle">Granular potentialities oriented</h5>
                    <div class="service-details_text">
                        <P>Gyms often have certified trainers who can provide guidance on proper exercise techniques, equipment usage, and the development of effective workout routines. Group fitness classes led by instructors offer structured workouts in a motivating group setting.</P>
                    </div>
                    <div class="service-details_thumb_wrapper d-flex align-items-center justify-content-between">
                        <div class="thumb1"><img src="assets/img/service/service-details1_2.png" alt="thumb1"></div>
                        <div class="thumb2"><img src="assets/img/service/service-details1_3.png" alt="thumb2"></div>
                    </div>
                    <div class="service-details-text">
                        <p>Gyms provide the flexibility to choose from a variety of exercises, allowing individuals to customize their workouts based on preferences and needs. Extended operating hours and diverse amenities contribute to the convenience of gym workouts, accommodating various schedules. Many gyms offer tools and resources to track progress, such as fitness apps, workout logs, or integrated gym software that records workout history and achievements.</p>
                    </div>
                    <div class="service-details_faq">
                        <div class="accordion-area accordion" id="faqAccordion">

                            <div class="accordion-card style2 active">
                                <div class="accordion-header" id="collapse-item-1">
                                    <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">How it Works?</button>
                                </div>
                                <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="collapse-item-1" data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                        <p class="faq-text">Gyms provide the flexibility to choose from a variety of exercises, allowing individuals to customize their workouts based on preferences and needs. Extended operating hours and diverse amenities contribute to the convenience of gym workouts, accommodating various schedules.</p>
                                    </div>
                                </div>
                            </div>
        
        
                            <div class="accordion-card style2">
                                <div class="accordion-header" id="collapse-item-2">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">Are we open on weekend?</button>
                                </div>
                                <div id="collapse-2" class="accordion-collapse collapse " aria-labelledby="collapse-item-2" data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                        <p class="faq-text">Gyms provide the flexibility to choose from a variety of exercises, allowing individuals to customize their workouts based on preferences and needs. Extended operating hours and diverse amenities contribute to the convenience of gym workouts, accommodating various schedules.</p>
                                    </div>
                                </div>
                            </div>
        
        
                            <div class="accordion-card style2">
                                <div class="accordion-header" id="collapse-item-3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">How We take Payments?</button>
                                </div>
                                <div id="collapse-3" class="accordion-collapse collapse " aria-labelledby="collapse-item-3" data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                        <p class="faq-text">Gyms provide the flexibility to choose from a variety of exercises, allowing individuals to customize their workouts based on preferences and needs. Extended operating hours and diverse amenities contribute to the convenience of gym workouts, accommodating various schedules.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-5">
                <aside class="sidebar-area">
                    <div class="widget widget_search">
                        <form class="search-form">
                            <input type="text" placeholder="Enter Keyword">
                            <button type="submit"><i class="far fa-search"></i></button>
                        </form>
                    </div>
                    <div class="widget widget_services">
                        <h3 class="widget_title">All Services</h3>
                        <ul>
                            <li>
                                <a href="service-details.html">Body Balance</a>
                            </li>
                            <li>
                                <a href="service-details.html">Beginner Pilates</a>
                            </li>
                            <li>
                                <a href="service-details.html">Gym & Fitness</a>
                            </li>
                            <li>
                                <a href="service-details.html">Cardio Strength</a>
                            </li>
                            <li>
                                <a href="service-details.html">Muscle Building</a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget widget_hours">
                        <h3 class="widget_title">Working Hours</h3>
                        <ul>
                            <li>
                                 <span><i class="fa-regular fa-clock"></i> Monday – Friday 1.00 – 2:00 pm</span>
                            </li>
                            <li>
                                <span><i class="fa-regular fa-clock"></i> Saturday 8.00 – 12:00 pm</span>
                            </li>
                            <li>
                                <span><i class="fa-regular fa-clock"></i>  Sunday closed</span>
                            </li> 
                        </ul>
                    </div>
                    <div class="widget widget_quote">
                        <form class="comment-form">
                            <div class="form-group">
                                <input type="text" placeholder="Your Name*" class="form-control">
                                <i class="fal fa-user"></i>
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Your Email*" class="form-control">
                                <i class="fal fa-envelope"></i>
                            </div>
                            <div class="form-group">
                                <select name="services" class="form-select form-control style-border style3 rounded-border services">
                                    <option value="" disabled="disabled" selected="selected" hidden="">Services</option>
                                    <option value="1">Body Balance</option>
                                    <option value="2">Beginner Pilates</option>  
                                    <option value="3">Gym & Fitness</option> 
                                    <option value="4">Cardio Strength</option> 
                                    <option value="5">Muscle Building</option> 
                                </select>
                            </div>
                            <div class="form-group">
                                <textarea placeholder="Write a Comment*" class="form-control"></textarea>
                                <i class="fal fa-pencil"></i>
                            </div>
                            <button type="submit" class="th-btn style8">Send Message</button>
                        </form>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>