
<!--==============================
   Single Fitness Class Details page Area  
==============================-->
<div class="fitness-class-details-page-area space overflow-hidden">
    <div class="container"> 
        <div class="row">
            <div class="fitness-class-details-wrapper">
                <div class="fitness-class-details_thumb">
                    <img src="assets/img/classes/fitness_class_details_thumb1_1.png" alt="fitness_class_details_thumb1">
                </div>
                <h2 class="fitness-class-details_title">Get Ready For Perfect Fitness Training</h2>
                <div class="fitness-class-details_text">
                    <p>Fitness and gym culture have become integral components of a modern, health-conscious lifestyle. Engaging in regular fitness activities and gym workouts offers a multitude of physical, mental, and social benefits. The gym, often a fitness sanctuary, is equipped with an array of cardio and strength-training equipment, providing a dynamic space for individuals to pursue their fitness goals. In the gym, cardiovascular exercises such as running on treadmills or cycling on stationary bikes elevate heart rates, enhancing endurance and promoting cardiovascular health. Simultaneously, strength training using free weights and resistance machines targets specific muscle groups, fostering strength, toning, and overall body sculpting. The gym environment caters to a wide range of fitness levels, making it adaptable for beginners exploring their fitness journey and seasoned athletes looking to challenge themselves.</p>
                </div>
                <div class="checklist-wrapper">
                    <div class="row gy-0">
                        <div class="col-lg-4">
                            <div class="checklist style2">
                                <ul>
                                    <li> <i class="fa-solid fa-check"></i> Having Slimmer Shapely Thighs</li>
                                    <li> <i class="fa-solid fa-check"></i> Increased Metabolism</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="checklist style2">
                                <ul>
                                    <li>  <i class="fa-solid fa-check"></i>Getting Stronger Body</li>
                                    <li>  <i class="fa-solid fa-check"></i> Maximum Results in Less Time</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="checklist style2">
                                <ul>
                                    <li> <i class="fa-solid fa-check"></i> Increased Muscular Endurance</li>
                                    <li> <i class="fa-solid fa-check"></i> Firm Hips and Tummy</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fitness-class-details_text">
                    <p class="mb-0">As the fitness and gym culture continues to evolve, it embraces diversity in workout approaches, including high-intensity interval training (HIIT), functional training, and mindfulness practices like yoga. Many fitness enthusiasts customize their routines to include a mix of activities that cater to their specific needs and preferences.</p>
                </div>
                <div class="row gx-60 gy-40 mt-0">
                    <div class="col-xl-7">
                        <h4 class="fitness-class-details_subtitle">Benefits</h4>
                        <div class="fitness-class-details_text">
                            <p>Beyond the physical gains, gym workouts contribute significantly to mental well-being. The release of endorphins during exercise acts as a natural mood booster, reducing stress and anxiety. The gym also provides a structured and focused environment, allowing individuals to escape daily stresses and concentrate on their well-being.</p>
                        </div>
                        <div class="checklist-wrapper">
                            <div class="row">
                                <div class="col-12 col-xl-6">
                                    <div class="checklist style2">
                                        <ul>
                                            <li> <i class="fa-solid fa-check"></i> It’s Help your body balance</li>
                                            <li> <i class="fa-solid fa-check"></i> Improve your workflow</li>
                                            <li> <i class="fa-solid fa-check"></i> Build your body with a good shape</li>
                                            <li> <i class="fa-solid fa-check"></i> Awesome membership plan</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-6 d-flex justify-content-xl-center">
                                    <div class="checklist style2">
                                        <ul>
                                            <li> <i class="fa-solid fa-check"></i> Daily Work Freshness</li>
                                            <li> <i class="fa-solid fa-check"></i> Reduce Mental Stress</li>
                                            <li> <i class="fa-solid fa-check"></i> Daily Fitness Training</li>
                                            <li> <i class="fa-solid fa-check"></i> Balance your body</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-5">
                        <div class="fitness-class-details_thumb2">
                            <div class="video-play-thumb style-1 video-box1" data-bg-src="assets/img/classes/fitness_class_details_thumb1_2.png">
                                <a href="https://www.youtube.com/watch?v=P695Buzj_ms" class="play-btn popup-video">
                                    <i class="fa-sharp fa-solid fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <h4 class="fitness-class-details_subtitle last-child">Class Schedule</h4>
                <div class="fitness-class-details_text">
                    <p>In the gym, cardiovascular exercises such as running on treadmills or cycling on stationary bikes elevate heart rates, enhancing endurance and promoting cardiovascular health. Simultaneously, strength training using free weights and resistance machines targets specific muscle groups, fostering strength, toning, and overall body sculpting. The gym environment caters to a wide range of fitness levels, making it adaptable for beginners exploring their fitness journey and seasoned athletes looking to challenge themselves.</p>
                </div>
            </div>
        </div>
    </div>
</div>