
<!--==============================
   Single Trainer Details Page
==============================--> 
 <div class="trainer-details-page-area space overflow-hidden">
    <div class="container">
        <div class="row gx-80 gy-40">
            <div class="col-md-5 col-xl-5">
                <div class="trainer-details-profile">
                    <div class="trainer-details_thumb">
                        <img src="assets/img/trainer/trainer_details_thumb1_1.png" alt="trainer_details_thumb1_1">
                    </div>
                    <div class="trainer-details_time_schedule_box_wrapper">
                        <h5 class="trainer-details_subtitle">My Time Schedule</h5>
                        <div class="trainer-details_time_schedule_box">
                            <table>
                                <tr>
                                    <td>Mon - Fri:</td>
                                    <td>8.00 am - 9.00 am</td>
                                </tr>
                                <tr>
                                    <td>Saturday:</td>
                                    <td>9.00 am - 11.00 am</td>
                                </tr>
                                <tr>
                                    <td>Sunday:</td>
                                    <td>6.00 am - 7.00 am</td>
                                </tr>
                            </table>

                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-7 col-xl-7">
                <div class="trainer-details_content">
                    <h2 class="trainer-details_title">Jhon Williams <span>Fitness Trainer</span></h2>
                    <div class="trainer-details_text">
                        <p class="mb-0">Fitness and gym culture have become integral components of a modern, health-conscious lifestyle. Engaging in regular fitness activities and gym workouts offers a multitude of physical, mental, and social benefits. The gym, often a fitness sanctuary, is equipped with an array of cardio and strength-training equipment, providing a dynamic space for individuals to pursue their fitness goals.</p>
                    </div>
                    <div class="trainer-details_info">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="title">Phone Number: </td> 
                                    <td>+163 2564 3654</td>
                                </tr>
                                <tr>
                                    <td class="title">Email: </td>
                                    <td>jonsonanderson@gmail.com</td>
                                </tr>
                                <tr>
                                    <td class="title">Website: </td>
                                    <td>http://example.com/example</td>
                                </tr>
                                <tr>
                                    <td class="title">Address: </td>
                                    <td>12546 LK Road, United State</td>
                                </tr> 
                                <tr>
                                    <td class="title">Experience: </td>
                                    <td>22 Years</td>
                                </tr>  
                            </tbody>
                        </table>
 
                    </div>
                    <div class="trainer-details_th_social">
                        <a href="https://www.x.com"><i class="fa-brands fa-twitter"></i></a>
                        <a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="https://www.whatsapp.com"><i class="fa-brands fa-whatsapp"></i></a>
                    </div>
                    <div class="trainer-details_table">
                        <table>
                            <tr class="gray-bg">  
                                <td class="title">Specialty</td>
                                <td>Body Fitness</td>
                            </tr>
                            <tr>
                                <td class="title">Awards</td>
                                <td>Best Trainer Of The Year</td>
                            </tr>
                            <tr class="gray-bg">
                                <td class="title">Areas of Expertise</td>
                                <td class="checklist">
                                    <ul>
                                        <li><i class="fa-solid fa-check"></i> Diploma in Body Building</li>
                                        <li><i class="fa-solid fa-check"></i> Diploma in Sports Massage</li>
                                        <li><i class="fa-solid fa-check"></i> Diploma in Exercise Referral</li>
                                        <li><i class="fa-solid fa-check"></i> Expert On Personal Training</li>
                                    </ul>
                                </td> 
                            </tr>
                            <tr>
                                <td class="title">Training Center</td>
                                <td>374 William S Canning Blvd, Fall River MA 2721</td>
                            </tr>
                            <tr class="gray-bg">
                                <td class="title">University</td>
                                <td>Harvard University</td>
                            </tr>
                        </table>
                    </div>
                    <div class="query_form_wrapper">
                        <h5>Book An Appointment</h5>
                        <form class="appointment_form">
                            <div class="row">
                                <div class="col-12 col-xl-6">
                                    <div class="form-group">
                                        <input type="text" placeholder="Your Name">
                                        <i class="fal fa-user"></i>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-6">
                                    <div class="form-group">
                                        <input type="email" placeholder="Your Email">
                                        <i class="fal fa-envelope"></i>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-6">
                                    <div class="form-group">
                                        <input type="tel" placeholder="Phone Number">
                                        <i class="fal fa-phone"></i>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-6">
                                    <div class="form-group">
                                        <select name="age" class="form-select style3">
                                            <option value="" disabled="disabled" selected="selected" hidden="">Age</option>
                                            <option value="1">22</option>
                                            <option value="2">23</option>  
                                            <option value="3">24</option> 
                                            <option value="4">25</option> 
                                            <option value="5">26</option> 
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <select name="services" class="form-select form-control style-border style3 rounded-border services">
                                            <option value="" disabled="disabled" selected="selected" hidden="">Services</option>
                                            <option value="1">Body Balance</option>
                                            <option value="2">Beginner Pilates</option>  
                                            <option value="3">Gym & Fitness</option> 
                                            <option value="4">Cardio Strength</option> 
                                            <option value="5">Muscle Building</option> 
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="th-btn style8 w-100">BOOK AN APPOINTMENT</button>
                            </div>
                        </form> 
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>