
<!--==============================
 Single  Faq Page
==============================--> 
<div class="faq-page-area space-top overflow-hidden">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title"><span class="double-line"></span> FAQ </span>
            <h2 class="sec-title">Frequently Asked Question</h2>
        </div>
        <div class="row gx-30 gy-30 space-bottom">
            <div class="col-xl-6">
                <div class="faq_wrapper">
                    <div class="accordion-area accordion" id="faqAccordion">
                
                        <div class="accordion-card style3 active">
                            <div class="accordion-header" id="collapse-item-1">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">Does the care cost me extra?</button>
                            </div>
                            <div id="collapse-1" class="accordion-collapse collapse" aria-labelledby="collapse-item-1" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">Stay adaptable and open to modifications in your fitness routine based on feedback from your body and any changes in your goals or circumstances.</p>
                                </div>
                            </div>
                        </div>
                
                
                        <div class="accordion-card style3">
                            <div class="accordion-header" id="collapse-item-2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">How to raise over all fitness level?</button>
                            </div>
                            <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="collapse-item-2" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">Raising overall fitness levels involves a comprehensive approach that includes regular exercise, a balanced diet, sufficient rest, and healthy lifestyle choices.</p>
                                </div>
                            </div>
                        </div>
                
                
                        <div class="accordion-card style3">
                            <div class="accordion-header" id="collapse-item-3">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">How can we get natural way to health?</button>
                            </div>
                            <div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="collapse-item-3" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">Achieving health naturally involves embracing a holistic approach that encompasses diet, physical activity, mental well-being, and lifestyle choices.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-card style3">
                            <div class="accordion-header" id="collapse-item-4">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">What if i am do for body strength?</button>
                            </div>
                            <div id="collapse-4" class="accordion-collapse collapse" aria-labelledby="collapse-item-4" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">Building body strength involves a combination of strength training exercises, proper nutrition, adequate rest, and consistency.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-card style3">
                            <div class="accordion-header" id="collapse-item-5">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">When an i charged for the service?</button>
                            </div>
                            <div id="collapse-5" class="accordion-collapse collapse" aria-labelledby="collapse-item-5" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">Charging for a service typically involves several steps and considerations to ensure clarity and fairness for both the service provider and the client. Here’s a comprehensive guide to help you determine when and how to charge for your service</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="faq_wrapper">
                    <div class="accordion-area accordion" id="faqAccordion">
                
                        <div class="accordion-card style3">
                            <div class="accordion-header" id="collapse-item-6">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-6" aria-expanded="false" aria-controls="collapse-6">Can I get a special trainer for bodybuilding?</button>
                            </div>
                            <div id="collapse-6" class="accordion-collapse collapse" aria-labelledby="collapse-item-6" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">Yes, you can certainly get a special trainer for bodybuilding. Getting a special trainer for bodybuilding can significantly enhance your training regimen and results. Take the time to research and select a qualified, experienced trainer who understands your specific goals and can provide tailored guidance. </p>
                                </div>
                            </div>
                        </div>
                
                
                        <div class="accordion-card style3">
                            <div class="accordion-header" id="collapse-item-7">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-7" aria-expanded="false" aria-controls="collapse-7">Is it necessary to hire a personal trainer?</button>
                            </div>
                            <div id="collapse-7" class="accordion-collapse collapse" aria-labelledby="collapse-item-7" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">Hiring a personal trainer can offer numerous benefits, especially if you’re new to fitness, have specific goals, or need extra motivation and accountability. However, it is not strictly necessary. Many people achieve their fitness goals through alternative means such as group classes, online resources, and self-directed workouts. </p>
                                </div>
                            </div>
                        </div>
                
                
                        <div class="accordion-card style3">
                            <div class="accordion-header" id="collapse-item-8">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-8" aria-expanded="false" aria-controls="collapse-8">How do I stay motivated to go to the gym?</button>
                            </div>
                            <div id="collapse-8" class="accordion-collapse collapse" aria-labelledby="collapse-item-8" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">Staying motivated to go to the gym requires a combination of clear goals, enjoyment, support, and rewards. By incorporating these strategies into your fitness routine, you can maintain your motivation and make regular exercise a lasting habit.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-card style3">
                            <div class="accordion-header" id="collapse-item-9">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-9" aria-expanded="false" aria-controls="collapse-9">How often should I go to the gym?</button>
                            </div>
                            <div id="collapse-9" class="accordion-collapse collapse" aria-labelledby="collapse-item-9" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">The ideal gym frequency varies based on individual goals, fitness levels, and personal preferences. Beginners should start with 3-4 sessions per week, while more advanced exercisers can benefit from 4-6 sessions. </p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-card style3">
                            <div class="accordion-header" id="collapse-item-10">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-10" aria-expanded="false" aria-controls="collapse-10">What type of exercises should I do to lose weight?</button>
                            </div>
                            <div id="collapse-10" class="accordion-collapse collapse" aria-labelledby="collapse-item-10" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">A combination of cardio, strength training, and flexibility exercises is most effective for weight loss. Tailor your exercise routine to your preferences and fitness level to keep it enjoyable and sustainable. Consistency, along with a healthy diet, will help you achieve and maintain your weight loss goals.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-card style3">
                            <div class="accordion-header" id="collapse-item-11">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-11" aria-expanded="false" aria-controls="collapse-11">Does Your Gym Offer Free WiFi?</button>
                            </div>
                            <div id="collapse-11" class="accordion-collapse collapse" aria-labelledby="collapse-item-11" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">Most modern gyms understand the importance of staying connected and offer free WiFi as a standard amenity. However, it's always best to confirm directly with the gym to ensure you have the most accurate information.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-20 gy-10">
            <div class="col-xl-5">
                <div class="appointment-thumb">
                    <img src="assets/img/normal/appointment_thumb.png" alt="appointment-thumb">
                </div>
            </div>
            <div class="col-xl-7">
                <div class="query_form_wrapper style2">
                    <h5>Have Any Other Question?</h5>
                    <form class="query_form">
                        <div class="row">
                            <div class="col-12 col-xl-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Your Name">
                                    <i class="fal fa-user"></i>
                                </div>
                            </div>
                            <div class="col-12 col-xl-6">
                                <div class="form-group">
                                    <input type="email" placeholder="Your Email">
                                    <i class="fal fa-envelope"></i>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="tel" placeholder="Phone Number">
                                    <i class="fal fa-phone"></i>
                                </div>
                            </div>  
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea placeholder="Write a Comment*" class="form-control"></textarea>
                                    <i class="fal fa-pencil"></i>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <button type="submit" class="th-btn style8">Submit Now</button>
                            </div>
                            
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
</div>
