<!--==============================
 Single  Contact Page
==============================-->
<div class="contact-page-area space-top overflow-hidden">
    <div class="container">
        <div class="info_box_wrapper mb-60">
            <div class="row gy-30">
                <div class="col-md-6 col-xl-4">
                    <div class="info-box style2">
                        <i class="fa-regular fa-location-dot"></i>
                        <div class="info-box_info">
                            <div class="info_title">Address</div>
                            <div class="info_desc">67GR+XV2, Unnamed Road, Chatmohar</div>
                        </div>
                    </div> 
                  </div>  
                  <div class="col-md-6 col-xl-4">
                    <div class="info-box style2">
                        <i class="fa-solid fa-phone gray-bg"></i>
                        <div class="info-box_info">
                            <div class="info_title">Contact Info</div>
                            <div class="info_desc">+ 163-6589-9654 info@fitkit.com</div>
                        </div>
                    </div> 
                  </div>  
                  <div class="col-md-6 col-xl-4">
                    <div class="info-box style2">
                        <i class="fa-thin fa-clock gray-light-bg"></i>
                        <div class="info-box_info">
                            <div class="info_title">Opening Hours</div>
                            <div class="info_desc">Mon to Sat: 6AM - 8PM Sunday <span>Closed</span></div>
                        </div>
                    </div> 
                  </div>  
            </div>
        </div>

        <div class="query_form_wrapper style2">
            <div class="contact_thumb"><img src="assets/img/normal/contact_thumb.png" alt="contact_thumb"></div>
            <div class="row">
                <div class="col-xl-6">
                    <h5>Get In Touch!</h5>
                    <form class="query_form">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="text" placeholder="Your Name">
                                    <i class="fal fa-user"></i>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="email" placeholder="Your Email">
                                    <i class="fal fa-envelope"></i>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="tel" placeholder="Phone Number">
                                    <i class="fal fa-phone"></i>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <select name="Subject"
                                        class="form-select form-control style-border style3 rounded-border">
                                        <option value="" disabled="disabled" selected="selected" hidden="">Subject
                                        </option>
                                        <option value="1">Body Balance</option>
                                        <option value="2">Beginner Pilates</option>
                                        <option value="3">Gym &amp; Fitness</option>
                                        <option value="4">Cardio Strength</option>
                                        <option value="5">Muscle Building</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea placeholder="Write a Comment" class="form-control"></textarea>
                                    <i class="fal fa-pencil"></i>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="th-btn style8 w-100">Submit Now</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="contact_map_wrapper">
        <iframe class="contact_map space-top"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29156.6548587713!2d89.229006174068!3d24.01053847588806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fe84d98fa5bf3d%3A0xb038902617eb9884!2sPabna!5e0!3m2!1sen!2sbd!4v1717257805171!5m2!1sen!2sbd"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</div>