<!--==============================
    Testimonial Area 3  
==============================-->
<div class="testiomonial-area3 space-top overflow-hidden">
    <div class="shape1"><img src="assets/img/testimonial/testi_shape_3_1.png" alt="shape1"></div>
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title"><span class="double-line"></span>Testimonials</span>
            <h2 class="sec-title">What our clients Say?</h2>
        </div>    
        
        <div class="row gx-80 gy-30">
            <div class="col-lg-4">
                <div class="testimonial_thumb">
                    <img src="assets/img/testimonial/testi_thumb_3_1.png" alt="testimonial_thumb">
                </div>
            </div> 
            <div class="col-lg-8">
                <div class="testimonial_slider3"> 
                    <div class="swiper testimonialSliderThree">
                        <div class="swiper-wrapper">
    
                            <div class="swiper-slide">
                                <div class="testimonial-card_wrapper style3">
                                    <div class="testi_indicate_wrapper">
                                        <img class="testi_indicate_icon" src="assets/img/testimonial/testi_indicate-icon-3_1.png" alt="testi_indicate_icon">
                                        <div><img  class="testi_indicate_profile" src="assets/img/testimonial/testi_indicate-3_1.png" alt="testi_indicate"></div>
                                    </div>
                                    <div class="reviewer">
                                        <div class="name">Nattasha</div>
                                        <div class="designation">Athletics /Trainer</div>
                                        <div class="star"><img src="assets/img/testimonial/testi_indicate-star3_1.png" alt="star"></div>
                                        <div class="text">Include a balanced mix of cardiovascular exercises, strength training, flexibility work, and any specific activities.</div>
                                    </div>
                                </div> 
                            </div>
    
                            <div class="swiper-slide">  
                                <div class="testimonial-card_wrapper style3 ">
                                    <div class="testi_indicate_wrapper">
                                        <img class="testi_indicate_icon" src="assets/img/testimonial/testi_indicate-icon-3_1.png" alt="testi_indicate_icon">
                                        <div><img  class="testi_indicate_profile" src="assets/img/testimonial/testi_indicate-3_2.png" alt="testi_indicate"></div>
                                    </div>
                                    <div class="reviewer">
                                        <div class="name">Rishitah</div>
                                        <div class="designation">Athletics /Trainer</div>
                                        <div class="star"><img src="assets/img/testimonial/testi_indicate-star3_1.png" alt="star"></div>
                                        <div class="text">Include a balanced mix of cardiovascular exercises, strength training, flexibility work, and any specific activities.</div>
                                    </div>
                                </div>
                            </div> 
    
                            <div class="swiper-slide">
                                <div class="testimonial-card_wrapper style3">
                                    <div class="testi_indicate_wrapper">
                                        <img class="testi_indicate_icon" src="assets/img/testimonial/testi_indicate-icon-3_1.png" alt="testi_indicate_icon">
                                        <div><img  class="testi_indicate_profile" src="assets/img/testimonial/testi_indicate-3_1.png" alt="testi_indicate"></div>
                                    </div>
                                    <div class="reviewer">
                                        <div class="name">Nattasha</div>
                                        <div class="designation">Athletics /Trainer</div>
                                        <div class="star"><img src="assets/img/testimonial/testi_indicate-star3_1.png" alt="star"></div>
                                        <div class="text">Include a balanced mix of cardiovascular exercises, strength training, flexibility work, and any specific activities.</div>
                                    </div>
                                </div> 
                            </div>
    
                            <div class="swiper-slide">  
                                <div class="testimonial-card_wrapper style3">
                                    <div class="testi_indicate_wrapper">
                                        <img class="testi_indicate_icon" src="assets/img/testimonial/testi_indicate-icon-3_1.png" alt="testi_indicate_icon">
                                        <div><img  class="testi_indicate_profile" src="assets/img/testimonial/testi_indicate-3_2.png" alt="testi_indicate"></div>
                                    </div>
                                    <div class="reviewer">
                                        <div class="name">Rishitah</div>
                                        <div class="designation">Athletics /Trainer</div>
                                        <div class="star"><img src="assets/img/testimonial/testi_indicate-star3_1.png" alt="star"></div>
                                        <div class="text">Include a balanced mix of cardiovascular exercises, strength training, flexibility work, and any specific activities.</div>
                                    </div>
                                </div>
                            </div> 
    
                            <div class="swiper-slide">
                                <div class="testimonial-card_wrapper style3">
                                    <div class="testi_indicate_wrapper">
                                        <img class="testi_indicate_icon" src="assets/img/testimonial/testi_indicate-icon-3_1.png" alt="testi_indicate_icon">
                                        <div><img  class="testi_indicate_profile" src="assets/img/testimonial/testi_indicate-3_1.png" alt="testi_indicate"></div>
                                    </div>
                                    <div class="reviewer">
                                        <div class="name">Nattasha</div>
                                        <div class="designation">Athletics /Trainer</div>
                                        <div class="star"><img src="assets/img/testimonial/testi_indicate-star3_1.png" alt="star"></div>
                                        <div class="text">Include a balanced mix of cardiovascular exercises, strength training, flexibility work, and any specific activities.</div>
                                    </div>
                                </div> 
                            </div>
    
                            <div class="swiper-slide">  
                                <div class="testimonial-card_wrapper style3">
                                    <div class="testi_indicate_wrapper">
                                        <img class="testi_indicate_icon" src="assets/img/testimonial/testi_indicate-icon-3_1.png" alt="testi_indicate_icon">
                                        <div><img  class="testi_indicate_profile" src="assets/img/testimonial/testi_indicate-3_2.png" alt="testi_indicate"></div>
                                    </div>
                                    <div class="reviewer">
                                        <div class="name">Rishitah</div>
                                        <div class="designation">Athletics /Trainer</div>
                                        <div class="star"><img src="assets/img/testimonial/testi_indicate-star3_1.png" alt="star"></div>
                                        <div class="text">Include a balanced mix of cardiovascular exercises, strength training, flexibility work, and any specific activities.</div>
                                    </div>
                                </div>
                            </div> 
    
                            <div class="swiper-slide">
                                <div class="testimonial-card_wrapper style3">
                                    <div class="testi_indicate_wrapper">
                                        <img class="testi_indicate_icon" src="assets/img/testimonial/testi_indicate-icon-3_1.png" alt="testi_indicate_icon">
                                        <div><img  class="testi_indicate_profile" src="assets/img/testimonial/testi_indicate-3_1.png" alt="testi_indicate"></div>
                                    </div>
                                    <div class="reviewer">
                                        <div class="name">Nattasha</div>
                                        <div class="designation">Athletics /Trainer</div>
                                        <div class="star"><img src="assets/img/testimonial/testi_indicate-star3_1.png" alt="star"></div>
                                        <div class="text">Include a balanced mix of cardiovascular exercises, strength training, flexibility work, and any specific activities.</div>
                                    </div>
                                </div> 
                            </div>
    
                            <div class="swiper-slide">  
                                <div class="testimonial-card_wrapper style3">
                                    <div class="testi_indicate_wrapper">
                                        <img class="testi_indicate_icon" src="assets/img/testimonial/testi_indicate-icon-3_1.png" alt="testi_indicate_icon">
                                        <div><img  class="testi_indicate_profile" src="assets/img/testimonial/testi_indicate-3_2.png" alt="testi_indicate"></div>
                                    </div>
                                    <div class="reviewer">
                                        <div class="name">Rishitah</div>
                                        <div class="designation">Athletics /Trainer</div>
                                        <div class="star"><img src="assets/img/testimonial/testi_indicate-star3_1.png" alt="star"></div>
                                        <div class="text">Include a balanced mix of cardiovascular exercises, strength training, flexibility work, and any specific activities.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>