 <!--==============================
    Testimonial Area  02
==============================-->
<div class="testiomonial-area2  space-top space-bottom overflow-hidden">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title ms-0"><span class="double-line"></span> Testimonials </span>
            <h2 class="sec-title text-white">What our clients Say?</h2>
        </div>

        
        <div class="swiper testimonialSliderTwo">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonial-card_wrapper style2">
                        <div class="row justify-content-center gx-60">
                            <div class="col-lg-4">
                                <div class="testimonial-img_wrapper">
                                    <div class="testimonial-profile_img">
                                        <img src="assets/img/testimonial/testi_indicate-1.png" alt="profile">
                                    </div>
                                    <div class="testimonial-quote">
                                        <img src="assets/img/testimonial/quote-icon.svg" alt="quote">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 px-0"> 
                                <div class="testimonial-body">
                                    <p>“The group at Baroque is unimaginably committed, educated, and supportive. The completed item was delightful, and worth each penny. I would totally suggest Baroque”</p>
                                </div>
                                <div class="testimonial-reviewer_name">Alex Carlose, <span>ENVATO LLC</span></div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-card_wrapper style2">
                        <div class="row justify-content-center gx-60">
                            <div class="col-lg-4">
                                <div class="testimonial-img_wrapper">
                                    <div class="testimonial-profile_img">
                                        <img src="assets/img/testimonial/testi_indicate-1.png" alt="profile">
                                    </div>
                                    <div class="testimonial-quote">
                                        <img src="assets/img/testimonial/quote-icon.svg" alt="quote">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 px-0"> 
                                <div class="testimonial-body">
                                    <p>“The group at Baroque is unimaginably committed, educated, and supportive. The completed item was delightful, and worth each penny. I would totally suggest Baroque”</p>
                                </div>
                                <div class="testimonial-reviewer_name">Alex Carlose, <span>ENVATO LLC</span></div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-card_wrapper style2">
                        <div class="row justify-content-center gx-60">
                            <div class="col-lg-4">
                                <div class="testimonial-img_wrapper">
                                    <div class="testimonial-profile_img">
                                        <img src="assets/img/testimonial/testi_indicate-1.png" alt="profile">
                                    </div>
                                    <div class="testimonial-quote">
                                        <img src="assets/img/testimonial/quote-icon.svg" alt="quote">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 px-0"> 
                                <div class="testimonial-body">
                                    <p>“The group at Baroque is unimaginably committed, educated, and supportive. The completed item was delightful, and worth each penny. I would totally suggest Baroque”</p>
                                </div>
                                <div class="testimonial-reviewer_name">Alex Carlose, <span>ENVATO LLC</span></div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-card_wrapper style2">
                        <div class="row justify-content-center gx-60">
                            <div class="col-lg-4">
                                <div class="testimonial-img_wrapper">
                                    <div class="testimonial-profile_img">
                                        <img src="assets/img/testimonial/testi_indicate-1.png" alt="profile">
                                    </div>
                                    <div class="testimonial-quote">
                                        <img src="assets/img/testimonial/quote-icon.svg" alt="quote">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 px-0"> 
                                <div class="testimonial-body">
                                    <p>“The group at Baroque is unimaginably committed, educated, and supportive. The completed item was delightful, and worth each penny. I would totally suggest Baroque”</p>
                                </div>
                                <div class="testimonial-reviewer_name">Alex Carlose, <span>ENVATO LLC</span></div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-card_wrapper style2">
                        <div class="row justify-content-center gx-60">
                            <div class="col-lg-4">
                                <div class="testimonial-img_wrapper">
                                    <div class="testimonial-profile_img">
                                        <img src="assets/img/testimonial/testi_indicate-1.png" alt="profile">
                                    </div>
                                    <div class="testimonial-quote">
                                        <img src="assets/img/testimonial/quote-icon.svg" alt="quote">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 px-0"> 
                                <div class="testimonial-body">
                                    <p>“The group at Baroque is unimaginably committed, educated, and supportive. The completed item was delightful, and worth each penny. I would totally suggest Baroque”</p>
                                </div>
                                <div class="testimonial-reviewer_name">Alex Carlose, <span>ENVATO LLC</span></div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>

            <div class="swiper-button-next testimonialTwo-slider-next">
                <div class="icon-box">
                    <button class="testimonialTwo-slider-arrow testimonialTwo-next default">
                        <span class="icon-next"></span>
                    </button>
                </div>
            </div>
            <div class="swiper-button-prev  testimonialTwo-slider-prev">
                <div class="icon-box">
                    <button class="testimonialTwo-slider-arrow testimonialTwo-prev default">
                        <span class="icon-prev"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>