<!--==============================
    Testimonial Area  
==============================-->
<div class="testiomonial-area dark-bg space-top space-bottom overflow-hidden">
    <img class="testimonial_bg" src="assets/img/testimonial/testi_1_2.png" alt="testimonial-bg">
    <div class="container"> 
        <div class="row d-flex justify-content-end align-items-center">
            <div class="col-xl-10">
        <!-- Swiper -->
        <div class="swiper testimonialSliderOne">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonial-card_wrapper">
                        <div class="testimonial-card">
                            <div class="testimonial_profile_img">
                                <img src="assets/img/testimonial/testi_1_1.png" alt="reviewer">
                            </div>
                            <div class="testimonial-card_body">
                                <div class="title-area text-start mb-40">
                                    <span class="sub-title"><span class="single-line"></span>Testimonials</span>
                                    <h2 class="sec-title text-white">What our clients Say?</h2>
                                </div>
                                <p>“Many individuals benefit from personalized workout plans designed by fitness
                                    professionals or personal trainers to address specific fitness goals, such
                                    as muscle gain, weight loss, or improved athletic performance.”</p>
                                <div class="testimonial_star">
                                    <ul class="testimonial_start_list">
                                        <li><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                viewBox="0 0 30 30" fill="none">
                                                <path
                                                    d="M27.5 11.55L18.5125 10.775L15 2.5L11.4875 10.7875L2.5 11.55L9.325 17.4625L7.275 26.25L15 21.5875L22.725 26.25L20.6875 17.4625L27.5 11.55ZM15 19.25L10.3 22.0875L11.55 16.7375L7.4 13.1375L12.875 12.6625L15 7.625L17.1375 12.675L22.6125 13.15L18.4625 16.75L19.7125 22.1L15 19.25Z"
                                                    fill="#FFBF00"></path>
                                            </svg>
                                        </li>
                                        <li><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                viewBox="0 0 30 30" fill="none">
                                                <path
                                                    d="M27.5 11.55L18.5125 10.775L15 2.5L11.4875 10.7875L2.5 11.55L9.325 17.4625L7.275 26.25L15 21.5875L22.725 26.25L20.6875 17.4625L27.5 11.55ZM15 19.25L10.3 22.0875L11.55 16.7375L7.4 13.1375L12.875 12.6625L15 7.625L17.1375 12.675L22.6125 13.15L18.4625 16.75L19.7125 22.1L15 19.25Z"
                                                    fill="#FFBF00"></path>
                                            </svg>
                                        </li>
                                        <li><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                viewBox="0 0 30 30" fill="none">
                                                <path
                                                    d="M27.5 11.55L18.5125 10.775L15 2.5L11.4875 10.7875L2.5 11.55L9.325 17.4625L7.275 26.25L15 21.5875L22.725 26.25L20.6875 17.4625L27.5 11.55ZM15 19.25L10.3 22.0875L11.55 16.7375L7.4 13.1375L12.875 12.6625L15 7.625L17.1375 12.675L22.6125 13.15L18.4625 16.75L19.7125 22.1L15 19.25Z"
                                                    fill="#FFBF00"></path>
                                            </svg>
                                        </li>
                                        <li><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                viewBox="0 0 30 30" fill="none">
                                                <path
                                                    d="M27.5 11.55L18.5125 10.775L15 2.5L11.4875 10.7875L2.5 11.55L9.325 17.4625L7.275 26.25L15 21.5875L22.725 26.25L20.6875 17.4625L27.5 11.55ZM15 19.25L10.3 22.0875L11.55 16.7375L7.4 13.1375L12.875 12.6625L15 7.625L17.1375 12.675L22.6125 13.15L18.4625 16.75L19.7125 22.1L15 19.25Z"
                                                    fill="#FFBF00"></path>
                                            </svg>
                                        </li>
                                        <li><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                viewBox="0 0 30 30" fill="none">
                                                <path
                                                    d="M27.5 11.55L18.5125 10.775L15 2.5L11.4875 10.7875L2.5 11.55L9.325 17.4625L7.275 26.25L15 21.5875L22.725 26.25L20.6875 17.4625L27.5 11.55ZM15 19.25L10.3 22.0875L11.55 16.7375L7.4 13.1375L12.875 12.6625L15 7.625L17.1375 12.675L22.6125 13.15L18.4625 16.75L19.7125 22.1L15 19.25Z"
                                                    fill="#FFBF00"></path>
                                            </svg>
                                        </li>
                                    </ul>
                                </div>
                                <div class="testimonial_reviewer"> Alex Furnandes </div>
                            </div>
                        </div>
                    </div>
                </div>   
                <div class="swiper-slide">
                    <div class="testimonial-card_wrapper">
                        <div class="testimonial-card">
                            <div class="testimonial_profile_img">
                                <img src="assets/img/testimonial/testi_1_1.png" alt="reviewer">
                            </div>
                            <div class="testimonial-card_body">
                                <div class="title-area text-start mb-40">
                                    <span class="sub-title"><span class="single-line"></span>Testimonials</span>
                                    <h2 class="sec-title text-white">What our clients Say?</h2>
                                </div>
                                <p>“Many individuals benefit from personalized workout plans designed by fitness
                                    professionals or personal trainers to address specific fitness goals, such
                                    as muscle gain, weight loss, or improved athletic performance.”</p>
                                <div class="testimonial_star">
                                    <ul class="testimonial_start_list">
                                        <li><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                viewBox="0 0 30 30" fill="none">
                                                <path
                                                    d="M27.5 11.55L18.5125 10.775L15 2.5L11.4875 10.7875L2.5 11.55L9.325 17.4625L7.275 26.25L15 21.5875L22.725 26.25L20.6875 17.4625L27.5 11.55ZM15 19.25L10.3 22.0875L11.55 16.7375L7.4 13.1375L12.875 12.6625L15 7.625L17.1375 12.675L22.6125 13.15L18.4625 16.75L19.7125 22.1L15 19.25Z"
                                                    fill="#FFBF00"></path>
                                            </svg>
                                        </li>
                                        <li><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                viewBox="0 0 30 30" fill="none">
                                                <path
                                                    d="M27.5 11.55L18.5125 10.775L15 2.5L11.4875 10.7875L2.5 11.55L9.325 17.4625L7.275 26.25L15 21.5875L22.725 26.25L20.6875 17.4625L27.5 11.55ZM15 19.25L10.3 22.0875L11.55 16.7375L7.4 13.1375L12.875 12.6625L15 7.625L17.1375 12.675L22.6125 13.15L18.4625 16.75L19.7125 22.1L15 19.25Z"
                                                    fill="#FFBF00"></path>
                                            </svg>
                                        </li>
                                        <li><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                viewBox="0 0 30 30" fill="none">
                                                <path
                                                    d="M27.5 11.55L18.5125 10.775L15 2.5L11.4875 10.7875L2.5 11.55L9.325 17.4625L7.275 26.25L15 21.5875L22.725 26.25L20.6875 17.4625L27.5 11.55ZM15 19.25L10.3 22.0875L11.55 16.7375L7.4 13.1375L12.875 12.6625L15 7.625L17.1375 12.675L22.6125 13.15L18.4625 16.75L19.7125 22.1L15 19.25Z"
                                                    fill="#FFBF00"></path>
                                            </svg>
                                        </li>
                                        <li><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                viewBox="0 0 30 30" fill="none">
                                                <path
                                                    d="M27.5 11.55L18.5125 10.775L15 2.5L11.4875 10.7875L2.5 11.55L9.325 17.4625L7.275 26.25L15 21.5875L22.725 26.25L20.6875 17.4625L27.5 11.55ZM15 19.25L10.3 22.0875L11.55 16.7375L7.4 13.1375L12.875 12.6625L15 7.625L17.1375 12.675L22.6125 13.15L18.4625 16.75L19.7125 22.1L15 19.25Z"
                                                    fill="#FFBF00"></path>
                                            </svg>
                                        </li>
                                        <li><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                viewBox="0 0 30 30" fill="none">
                                                <path
                                                    d="M27.5 11.55L18.5125 10.775L15 2.5L11.4875 10.7875L2.5 11.55L9.325 17.4625L7.275 26.25L15 21.5875L22.725 26.25L20.6875 17.4625L27.5 11.55ZM15 19.25L10.3 22.0875L11.55 16.7375L7.4 13.1375L12.875 12.6625L15 7.625L17.1375 12.675L22.6125 13.15L18.4625 16.75L19.7125 22.1L15 19.25Z"
                                                    fill="#FFBF00"></path>
                                            </svg>
                                        </li>
                                    </ul>
                                </div>
                                <div class="testimonial_reviewer"> Alex Furnandes </div>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="swiper-slide">
                    <div class="testimonial-card_wrapper">
                        <div class="testimonial-card">
                            <div class="testimonial_profile_img">
                                <img src="assets/img/testimonial/testi_1_1.png" alt="reviewer">
                            </div>
                            <div class="testimonial-card_body">
                                <div class="title-area text-start mb-40">
                                    <span class="sub-title"><span class="single-line"></span>Testimonials</span>
                                    <h2 class="sec-title text-white">What our clients Say?</h2>
                                </div>
                                <p>“Many individuals benefit from personalized workout plans designed by fitness
                                    professionals or personal trainers to address specific fitness goals, such
                                    as muscle gain, weight loss, or improved athletic performance.”</p>
                                <div class="testimonial_star">
                                    <ul class="testimonial_start_list">
                                        <li><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                viewBox="0 0 30 30" fill="none">
                                                <path
                                                    d="M27.5 11.55L18.5125 10.775L15 2.5L11.4875 10.7875L2.5 11.55L9.325 17.4625L7.275 26.25L15 21.5875L22.725 26.25L20.6875 17.4625L27.5 11.55ZM15 19.25L10.3 22.0875L11.55 16.7375L7.4 13.1375L12.875 12.6625L15 7.625L17.1375 12.675L22.6125 13.15L18.4625 16.75L19.7125 22.1L15 19.25Z"
                                                    fill="#FFBF00"></path>
                                            </svg>
                                        </li>
                                        <li><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                viewBox="0 0 30 30" fill="none">
                                                <path
                                                    d="M27.5 11.55L18.5125 10.775L15 2.5L11.4875 10.7875L2.5 11.55L9.325 17.4625L7.275 26.25L15 21.5875L22.725 26.25L20.6875 17.4625L27.5 11.55ZM15 19.25L10.3 22.0875L11.55 16.7375L7.4 13.1375L12.875 12.6625L15 7.625L17.1375 12.675L22.6125 13.15L18.4625 16.75L19.7125 22.1L15 19.25Z"
                                                    fill="#FFBF00"></path>
                                            </svg>
                                        </li>
                                        <li><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                viewBox="0 0 30 30" fill="none">
                                                <path
                                                    d="M27.5 11.55L18.5125 10.775L15 2.5L11.4875 10.7875L2.5 11.55L9.325 17.4625L7.275 26.25L15 21.5875L22.725 26.25L20.6875 17.4625L27.5 11.55ZM15 19.25L10.3 22.0875L11.55 16.7375L7.4 13.1375L12.875 12.6625L15 7.625L17.1375 12.675L22.6125 13.15L18.4625 16.75L19.7125 22.1L15 19.25Z"
                                                    fill="#FFBF00"></path>
                                            </svg>
                                        </li>
                                        <li><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                viewBox="0 0 30 30" fill="none">
                                                <path
                                                    d="M27.5 11.55L18.5125 10.775L15 2.5L11.4875 10.7875L2.5 11.55L9.325 17.4625L7.275 26.25L15 21.5875L22.725 26.25L20.6875 17.4625L27.5 11.55ZM15 19.25L10.3 22.0875L11.55 16.7375L7.4 13.1375L12.875 12.6625L15 7.625L17.1375 12.675L22.6125 13.15L18.4625 16.75L19.7125 22.1L15 19.25Z"
                                                    fill="#FFBF00"></path>
                                            </svg>
                                        </li>
                                        <li><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                viewBox="0 0 30 30" fill="none">
                                                <path
                                                    d="M27.5 11.55L18.5125 10.775L15 2.5L11.4875 10.7875L2.5 11.55L9.325 17.4625L7.275 26.25L15 21.5875L22.725 26.25L20.6875 17.4625L27.5 11.55ZM15 19.25L10.3 22.0875L11.55 16.7375L7.4 13.1375L12.875 12.6625L15 7.625L17.1375 12.675L22.6125 13.15L18.4625 16.75L19.7125 22.1L15 19.25Z"
                                                    fill="#FFBF00"></path>
                                            </svg>
                                        </li>
                                    </ul>
                                </div>
                                <div class="testimonial_reviewer"> Alex Furnandes </div>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="swiper-slide">
                    <div class="testimonial-card_wrapper">
                        <div class="testimonial-card">
                            <div class="testimonial_profile_img">
                                <img src="assets/img/testimonial/testi_1_1.png" alt="reviewer">
                            </div>
                            <div class="testimonial-card_body">
                                <div class="title-area text-start mb-40">
                                    <span class="sub-title"><span class="single-line"></span>Testimonials</span>
                                    <h2 class="sec-title text-white">What our clients Say?</h2>
                                </div>
                                <p>“Many individuals benefit from personalized workout plans designed by fitness
                                    professionals or personal trainers to address specific fitness goals, such
                                    as muscle gain, weight loss, or improved athletic performance.”</p>
                                <div class="testimonial_star">
                                    <ul class="testimonial_start_list">
                                        <li><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                viewBox="0 0 30 30" fill="none">
                                                <path
                                                    d="M27.5 11.55L18.5125 10.775L15 2.5L11.4875 10.7875L2.5 11.55L9.325 17.4625L7.275 26.25L15 21.5875L22.725 26.25L20.6875 17.4625L27.5 11.55ZM15 19.25L10.3 22.0875L11.55 16.7375L7.4 13.1375L12.875 12.6625L15 7.625L17.1375 12.675L22.6125 13.15L18.4625 16.75L19.7125 22.1L15 19.25Z"
                                                    fill="#FFBF00"></path>
                                            </svg>
                                        </li>
                                        <li><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                viewBox="0 0 30 30" fill="none">
                                                <path
                                                    d="M27.5 11.55L18.5125 10.775L15 2.5L11.4875 10.7875L2.5 11.55L9.325 17.4625L7.275 26.25L15 21.5875L22.725 26.25L20.6875 17.4625L27.5 11.55ZM15 19.25L10.3 22.0875L11.55 16.7375L7.4 13.1375L12.875 12.6625L15 7.625L17.1375 12.675L22.6125 13.15L18.4625 16.75L19.7125 22.1L15 19.25Z"
                                                    fill="#FFBF00"></path>
                                            </svg>
                                        </li>
                                        <li><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                viewBox="0 0 30 30" fill="none">
                                                <path
                                                    d="M27.5 11.55L18.5125 10.775L15 2.5L11.4875 10.7875L2.5 11.55L9.325 17.4625L7.275 26.25L15 21.5875L22.725 26.25L20.6875 17.4625L27.5 11.55ZM15 19.25L10.3 22.0875L11.55 16.7375L7.4 13.1375L12.875 12.6625L15 7.625L17.1375 12.675L22.6125 13.15L18.4625 16.75L19.7125 22.1L15 19.25Z"
                                                    fill="#FFBF00"></path>
                                            </svg>
                                        </li>
                                        <li><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                viewBox="0 0 30 30" fill="none">
                                                <path
                                                    d="M27.5 11.55L18.5125 10.775L15 2.5L11.4875 10.7875L2.5 11.55L9.325 17.4625L7.275 26.25L15 21.5875L22.725 26.25L20.6875 17.4625L27.5 11.55ZM15 19.25L10.3 22.0875L11.55 16.7375L7.4 13.1375L12.875 12.6625L15 7.625L17.1375 12.675L22.6125 13.15L18.4625 16.75L19.7125 22.1L15 19.25Z"
                                                    fill="#FFBF00"></path>
                                            </svg>
                                        </li>
                                        <li><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                viewBox="0 0 30 30" fill="none">
                                                <path
                                                    d="M27.5 11.55L18.5125 10.775L15 2.5L11.4875 10.7875L2.5 11.55L9.325 17.4625L7.275 26.25L15 21.5875L22.725 26.25L20.6875 17.4625L27.5 11.55ZM15 19.25L10.3 22.0875L11.55 16.7375L7.4 13.1375L12.875 12.6625L15 7.625L17.1375 12.675L22.6125 13.15L18.4625 16.75L19.7125 22.1L15 19.25Z"
                                                    fill="#FFBF00"></path>
                                            </svg>
                                        </li>
                                    </ul>
                                </div>
                                <div class="testimonial_reviewer"> Alex Furnandes </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="swiper-button-next testimonial-slider-next">
                <div class="icon-box">
                    <button class="testimonial-slider-arrow testimonial-next default">
                        <span class="icon-next"></span>
                    </button>
                </div>
            </div>
            <div class="swiper-button-prev  testimonial-slider-prev">
                <div class="icon-box">
                    <button class="testimonial-slider-arrow testimonial-prev default">
                        <span class="icon-prev"></span>
                    </button>
                </div>
            </div>
        </div>  
            </div>
        </div>


    </div>
</div>