<!--==============================
    trainer Area
==============================-->
<div class="trainer-area space overflow-hidden" data-bg-src="assets/img/bg/trainer_bg.png">
    <div class="container space-bottom">
        <div class="title-area text-center">
            <h3 class="sub-title"><span class="double-line"></span>Our Trainer</h3>
            <h2 class="sec-title">Meet Our Skilled Trainer</h2>
        </div>
        <div class="trainerone-slider-area">
            <div class="swiper trainerSliderOne">
                <div class="swiper-wrapper">
                    <div class="swiper-slide center">
                        <div class="trainer-member-card text-center">
                            <div class="image">
                                <img src="assets/img/trainer/trainer-1.png" alt="member-1">
                            </div>
                            <div class="icon-box">
                                <div class="more-btn">
                                    <a href="#"> <i class="fa-regular fa-plus"></i> </a> 
                                </div>
                                <div class="icons">
                                    <a href="https://x.com"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
                                </div>
                            </div> 
                            
                            <div class="introduce-box mt-30 text-center">
                                <a href="trainer-details.html"> <h6 class="name mb-1">Jhon Williams</h6> </a>
                                <div class="designation">Fitness Trainer</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide center">
                        <div class="trainer-member-card text-center ">
                            <div class="image">
                                <img src="assets/img/trainer/trainer-2.png" alt="member-2">
                            </div>
                            <div class="icon-box">
                                <div class="more-btn">
                                    <a href="#"> <i class="fa-regular fa-plus"></i> </a> 
                                </div>
                                <div class="icons">
                                    <a href="https://x.com"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
                                </div>
                            </div> 
                            
                            <div class="introduce-box mt-30 text-center">
                                <a href="trainer-details.html"> <h6 class="name mb-1">Henry Joseph</h6> </a>
                                <div class="designation">Gym Trainer</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide center">
                        <div class="trainer-member-card text-center  ">
                            <div class="image">
                                <img src="assets/img/trainer/trainer-3.png" alt="member-3">
                            </div>
                            <div class="icon-box">
                                <div class="more-btn">
                                    <a href="#"> <i class="fa-regular fa-plus"></i> </a> 
                                </div>
                                <div class="icons">
                                    <a href="https://x.com"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
                                </div>
                            </div> 
                            
                            <div class="introduce-box mt-30 text-center">
                                <a href="trainer-details.html"> <h6 class="name mb-1">Esa Elizabed</h6> </a>
                                <div class="designation">Fitness Trainer</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide center">
                        <div class="trainer-member-card text-center ">
                            <div class="image">
                                <img src="assets/img/trainer/trainer-4.png" alt="member-4">
                            </div>
                            <div class="icon-box">
                                <div class="more-btn">
                                    <a href="#"> <i class="fa-regular fa-plus"></i> </a> 
                                </div>
                                <div class="icons">
                                    <a href="https://x.com"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
                                </div>
                            </div> 
                            
                            <div class="introduce-box mt-30 text-center">
                                <a href="trainer-details.html"><h6 class="name mb-1">Henry Carlose</h6></a>
                                <div class="designation">Gym Trainer</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide center">
                        <div class="trainer-member-card text-center">
                            <div class="image">
                                <img src="assets/img/trainer/trainer-1.png" alt="member-1">
                            </div>
                            <div class="icon-box">
                                <div class="more-btn">
                                    <a href="#"> <i class="fa-regular fa-plus"></i> </a> 
                                </div>
                                <div class="icons">
                                    <a href="https://x.com"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
                                </div>
                            </div> 
                            
                            <div class="introduce-box mt-30 text-center">
                                <a href="trainer-details.html"> <h6 class="name mb-1">Jhon Williams</h6> </a>
                                <div class="designation">Fitness Trainer</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide center">
                        <div class="trainer-member-card text-center ">
                            <div class="image">
                                <img src="assets/img/trainer/trainer-2.png" alt="member-2">
                            </div>
                            <div class="icon-box">
                                <div class="more-btn">
                                    <a href="#"> <i class="fa-regular fa-plus"></i> </a> 
                                </div>
                                <div class="icons">
                                    <a href="https://x.com"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
                                </div>
                            </div> 
                            
                            <div class="introduce-box mt-30 text-center">
                                <a href="trainer-details.html"> <h6 class="name mb-1">Henry Joseph</h6> </a>
                                <div class="designation">Gym Trainer</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide center">
                        <div class="trainer-member-card text-center  ">
                            <div class="image">
                                <img src="assets/img/trainer/trainer-3.png" alt="member-3">
                            </div>
                            <div class="icon-box">
                                <div class="more-btn">
                                    <a href="#"> <i class="fa-regular fa-plus"></i> </a> 
                                </div>
                                <div class="icons">
                                    <a href="https://x.com"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
                                </div>
                            </div> 
                            
                            <div class="introduce-box mt-30 text-center">
                                <a href="trainer-details.html"> <h6 class="name mb-1">Esa Elizabed</h6> </a>
                                <div class="designation">Fitness Trainer</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide center">
                        <div class="trainer-member-card text-center ">
                            <div class="image">
                                <img src="assets/img/trainer/trainer-4.png" alt="member-4">
                            </div>
                            <div class="icon-box">
                                <div class="more-btn">
                                    <a href="#"> <i class="fa-regular fa-plus"></i> </a> 
                                </div>
                                <div class="icons">
                                    <a href="https://x.com"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
                                </div>
                            </div> 
                            
                            <div class="introduce-box mt-30 text-center">
                                <a href="trainer-details.html"><h6 class="name mb-1">Henry Carlose</h6></a>
                                <div class="designation">Gym Trainer</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>

    </div>
</div>