<!--==============================
    trainer Area 02
==============================-->
<div class="trainer-area2 space dark-bg overflow-hidden">
    <div class="shape1"><img src="assets/img/trainer/trainer_shape_4_1.png" alt="shape1"></div>
    <div class="shape2"><img src="assets/img/trainer/trainer_shape_4_2.png" alt="shape2"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-area text-left"> 
                    <span class="sub-title"><span class="single-line"></span>Our Trainer</span>
                    <h2 class="sec-title text-white">Meet Our Skilled Trainer</h2>
                </div>
            </div> 
        </div>
        
        <div class="trainer-slider-two-area row gx-0 gy-0"> 
            <div class="swiper trainerSliderTwo">
                <div class="swiper-wrapper">
                    <div class="swiper-slide center">
                        <div class="trainer-member-card  style2">
                            <div class="trainer-member_image">
                                <div class="trainer-member_image_bg"></div>
                                <img src="assets/img/trainer/trainer-2-1.png" alt="trainer-member">
                            </div>
                            <div class="trainer-member_content">
                                <div class="trainer-member_content_wrapper" >
                                    <div class="content-bg">
                                        <img src="assets/img/trainer/trainer_content_bg1_2.svg" alt="trainer-content-bg">
                                    </div> 
                                      <div class="social-link">
                                        <i class="fa-brands fa-plus"></i>
                                        <ul>
                                            <li class="twitter">
                                                <a href="https://www.x.com">
                                                    <i class="fa-brands fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="facebook">
                                                <a href="https://www.facebook.com">
                                                    <i class="fa-brands fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li class="whatsapp">
                                                <a href="https://web.whatsapp.com">
                                                    <i class="fa-brands fa-whatsapp"></i>
                                                </a>
                                            </li>
                                        </ul>
                                      </div>
        
                                      <div class="trainer-member_name">
                                          <h4>Jhon Williams</h4>
                                          <div class="designation">Fitness Trainer</div>
                                      </div>
                                </div> 
                            </div>
                        </div>
                    </div> 
                    <div class="swiper-slide center">
                        <div class="trainer-member-card  style2">
                            <div class="trainer-member_image">
                                <div class="trainer-member_image_bg"></div>
                                <img src="assets/img/trainer/trainer-2-2.png" alt="trainer-member">
                            </div>
                            <div class="trainer-member_content">
                                <div class="trainer-member_content_wrapper">
                                    <div class="content-bg">
                                        <img src="assets/img/trainer/trainer_content_bg1_2.svg" alt="trainer-content-bg">
                                    </div>
                                      <div class="social-link">
                                        <i class="fa-brands fa-plus"></i>
                                        <ul>
                                            <li class="twitter">
                                                <a href="https://www.x.com">
                                                    <i class="fa-brands fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="facebook">
                                                <a href="https://www.facebook.com">
                                                    <i class="fa-brands fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li class="whatsapp">
                                                <a href="https://web.whatsapp.com">
                                                    <i class="fa-brands fa-whatsapp"></i>
                                                </a>
                                            </li>
                                        </ul>
                                      </div>
        
                                      <div class="trainer-member_name">
                                          <h4>Henry Joseph</h4>
                                          <div class="designation">Gym Trainer</div>
                                      </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide center">
                        <div class="trainer-member-card  style2">
                            <div class="trainer-member_image">
                                <div class="trainer-member_image_bg"></div>
                                <img src="assets/img/trainer/trainer-2-3.png" alt="trainer-member">
                            </div>
                            <div class="trainer-member_content">
                                <div class="trainer-member_content_wrapper"> 
                                    <div class="content-bg">
                                        <img src="assets/img/trainer/trainer_content_bg1_2.svg" alt="trainer-content-bg">
                                    </div>
                                      <div class="social-link">
                                        <i class="fa-brands fa-plus"></i>
                                        <ul>
                                            <li class="twitter">
                                                <a href="https://www.x.com">
                                                    <i class="fa-brands fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="facebook">
                                                <a href="https://www.facebook.com">
                                                    <i class="fa-brands fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li class="whatsapp">
                                                <a href="https://web.whatsapp.com">
                                                    <i class="fa-brands fa-whatsapp"></i>
                                                </a>
                                            </li>
                                        </ul>
                                      </div>
        
                                      <div class="trainer-member_name">
                                          <h4>Esa Elizabed</h4>
                                          <div class="designation">Fitness Trainer</div>
                                      </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide center">
                        <div class="trainer-member-card  style2">
                            <div class="trainer-member_image">
                                <div class="trainer-member_image_bg"></div>
                                <img src="assets/img/trainer/trainer-2-4.png" alt="trainer-member">
                            </div>
                            <div class="trainer-member_content">
                                <div class="trainer-member_content_wrapper">
                                    <div class="content-bg">
                                        <img src="assets/img/trainer/trainer_content_bg1_2.svg" alt="trainer-content-bg">
                                    </div>
                                      <div class="social-link">
                                        <i class="fa-brands fa-plus"></i>
                                        <ul>
                                            <li class="twitter">
                                                <a href="https://www.x.com">
                                                    <i class="fa-brands fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="facebook">
                                                <a href="https://www.facebook.com">
                                                    <i class="fa-brands fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li class="whatsapp">
                                                <a href="https://web.whatsapp.com">
                                                    <i class="fa-brands fa-whatsapp"></i>
                                                </a>
                                            </li>
                                        </ul>
                                      </div>
        
                                      <div class="trainer-member_name">
                                          <h4>Henry Joseph</h4>
                                          <div class="designation">Gym Trainer</div>
                                      </div>
                                </div> 
                            </div>
                        </div>
                    </div>  
                    <div class="swiper-slide center">
                        <div class="trainer-member-card  style2">
                            <div class="trainer-member_image">
                                <div class="trainer-member_image_bg"></div>
                                <img src="assets/img/trainer/trainer-2-1.png" alt="trainer-member">
                            </div>
                            <div class="trainer-member_content">
                                <div class="trainer-member_content_wrapper" >
                                    <div class="content-bg">
                                        <img src="assets/img/trainer/trainer_content_bg1_2.svg" alt="trainer-content-bg">
                                    </div> 
                                      <div class="social-link">
                                        <i class="fa-brands fa-plus"></i>
                                        <ul>
                                            <li class="twitter">
                                                <a href="https://www.x.com">
                                                    <i class="fa-brands fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="facebook">
                                                <a href="https://www.facebook.com">
                                                    <i class="fa-brands fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li class="whatsapp">
                                                <a href="https://web.whatsapp.com">
                                                    <i class="fa-brands fa-whatsapp"></i>
                                                </a>
                                            </li>
                                        </ul>
                                      </div>
        
                                      <div class="trainer-member_name">
                                          <h4>Jhon Williams</h4>
                                          <div class="designation">Fitness Trainer</div>
                                      </div>
                                </div> 
                            </div>
                        </div>
                    </div> 
                    <div class="swiper-slide center">
                        <div class="trainer-member-card  style2">
                            <div class="trainer-member_image">
                                <div class="trainer-member_image_bg"></div>
                                <img src="assets/img/trainer/trainer-2-2.png" alt="trainer-member">
                            </div>
                            <div class="trainer-member_content">
                                <div class="trainer-member_content_wrapper">
                                    <div class="content-bg">
                                        <img src="assets/img/trainer/trainer_content_bg1_2.svg" alt="trainer-content-bg">
                                    </div>
                                      <div class="social-link">
                                        <i class="fa-brands fa-plus"></i>
                                        <ul>
                                            <li class="twitter">
                                                <a href="https://www.x.com">
                                                    <i class="fa-brands fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="facebook">
                                                <a href="https://www.facebook.com">
                                                    <i class="fa-brands fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li class="whatsapp">
                                                <a href="https://web.whatsapp.com">
                                                    <i class="fa-brands fa-whatsapp"></i>
                                                </a>
                                            </li>
                                        </ul>
                                      </div>
        
                                      <div class="trainer-member_name">
                                          <h4>Henry Joseph</h4>
                                          <div class="designation">Gym Trainer</div>
                                      </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide center">
                        <div class="trainer-member-card  style2">
                            <div class="trainer-member_image">
                                <div class="trainer-member_image_bg"></div>
                                <img src="assets/img/trainer/trainer-2-3.png" alt="trainer-member">
                            </div>
                            <div class="trainer-member_content">
                                <div class="trainer-member_content_wrapper"> 
                                    <div class="content-bg">
                                        <img src="assets/img/trainer/trainer_content_bg1_2.svg" alt="trainer-content-bg">
                                    </div>
                                      <div class="social-link">
                                        <i class="fa-brands fa-plus"></i>
                                        <ul>
                                            <li class="twitter">
                                                <a href="https://www.x.com">
                                                    <i class="fa-brands fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="facebook">
                                                <a href="https://www.facebook.com">
                                                    <i class="fa-brands fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li class="whatsapp">
                                                <a href="https://web.whatsapp.com">
                                                    <i class="fa-brands fa-whatsapp"></i>
                                                </a>
                                            </li>
                                        </ul>
                                      </div>
        
                                      <div class="trainer-member_name">
                                          <h4>Esa Elizabed</h4>
                                          <div class="designation">Fitness Trainer</div>
                                      </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide center">
                        <div class="trainer-member-card  style2">
                            <div class="trainer-member_image">
                                <div class="trainer-member_image_bg"></div>
                                <img src="assets/img/trainer/trainer-2-4.png" alt="trainer-member">
                            </div>
                            <div class="trainer-member_content">
                                <div class="trainer-member_content_wrapper">
                                    <div class="content-bg">
                                        <img src="assets/img/trainer/trainer_content_bg1_2.svg" alt="trainer-content-bg">
                                    </div>
                                      <div class="social-link">
                                        <i class="fa-brands fa-plus"></i>
                                        <ul>
                                            <li class="twitter">
                                                <a href="https://www.x.com">
                                                    <i class="fa-brands fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="facebook">
                                                <a href="https://www.facebook.com">
                                                    <i class="fa-brands fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li class="whatsapp">
                                                <a href="https://web.whatsapp.com">
                                                    <i class="fa-brands fa-whatsapp"></i>
                                                </a>
                                            </li>
                                        </ul>
                                      </div>
        
                                      <div class="trainer-member_name">
                                          <h4>Henry Joseph</h4>
                                          <div class="designation">Gym Trainer</div>
                                      </div>
                                </div> 
                            </div>
                        </div>
                    </div>    
                </div> 
            </div>
        </div> 

        <div class="swiper-button-prev trainerTwo-slider-prev">
            <button  class="trainerTwo-slider-arrow trainerTwo-prev default"><span class="icon-prev"></span></button>
        </div>
        <div class="swiper-button-next trainerTwo-slider-next">
            <button  class="trainerTwo-slider-arrow trainerTwo-next default"><span class="icon-next"></span></button>
        </div>

    </div>
</div>