
<!--==============================
    Video play area1  
==============================-->
<div class="video-play-area space-bottom overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="video-play-thumb style-1 video-box1" data-bg-src="assets/img/bg/video_play_bg.png">
                    <h1>Watch Video</h1>
                    <a href="https://www.youtube.com/watch?v=P695Buzj_ms" class="play-btn popup-video">
                        <i class="fa-sharp fa-solid fa-play"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</div>
