<!--==============================
    Why choose us Area 3
==============================-->
<div class="wcu-area3 space overflow-hidden">
    <div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7">
            <div class="title-area text-center"> 
                <h2 class="sec-title">Why Choose Us</h2>
                <div class="title-desc">
                    <p>
                        Body fitness encompasses various aspects of physical health and well-being, involving a combination of exercise, nutrition, and lifestyle choices.
                    </p>
                </div>
              </div>
        </div>
    </div>
    <div class="row gx-30 gy-30 ">
        <div class="col-md-6 col-xl-4">
            <div class="wcu_box style3">
                <div class="wcu_icon_wrapper">
                    <div class="wcu_icon"><img src="assets/img/wcu/wcu_icon3_1.png" alt="wcu icon"></div>
                    <div class="wcu_number">01</div>
                </div>
                <div class="wcu_title">Group Workout</div>
                <div class="wcu_desc">
                    <p>Involves resistance exercises using weight resistance band to build muscle strength increase metabolism.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="wcu_box style3">
                <div class="wcu_icon_wrapper">
                    <div class="wcu_icon"><img src="assets/img/wcu/wcu_icon3_2.png" alt="wcu icon"></div>
                    <div class="wcu_number">02</div>
                </div>
                <div class="wcu_title">Personal Train</div>
                <div class="wcu_desc">
                    <p>Involves resistance exercises using weight resistance band to build muscle strength increase metabolism.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="wcu_box style3">
                <div class="wcu_icon_wrapper">
                    <div class="wcu_icon"><img src="assets/img/wcu/wcu_icon3_3.png" alt="wcu icon"></div>
                    <div class="wcu_number">03</div>
                </div>
                <div class="wcu_title">Muscle Building</div>
                <div class="wcu_desc">
                    <p>
                        Involves resistance exercises using weight resistance band to build muscle strength increase metabolism.
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
  
  
  