<!--==============================
Work process Area  2 
==============================-->
 <div class="work-process-area2 space overflow-hidden">
    <div class="shape1 jump"><img src="assets/img/work-process/work-process-shape2_1.png" alt="shape1"></div>
    <div class="shape2 jump3"><img src="assets/img/work-process/work-process-shape2_2.png" alt="shape2"></div>
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title"><span class="double-line"></span>Work Process</span>
            <h2 class="sec-title">How It Work Our Trainer!</h2>
        </div>
        <div class="row gy-70">
            <div class="col-12 col-md-6 col-xl-4">
                <div class="process-box-wrapper"> 
                    <div class="process-box_img mx-auto">
                        <img src="assets/img/work-process/icon2_1.png" alt="work-process-image">   
                    </div>
                    <div class="process-box style2"> 
                        <div class="process-box_step">STEP-01</div>
                        <h6 class="process-box_title">Customized Workout Planning</h6>
                        <div class="process-box_text">
                            <p>Design a personalized workout plan that aligns with your goals and takes into account.</p>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="process-box-wrapper"> 
                    <div class="process-box_img mx-auto">
                        <img src="assets/img/work-process/icon2_1.png" alt="work-process-image">   
                    </div>
                    <div class="process-box style2 bg_red_blur"> 
                        <div class="process-box_step">STEP-02</div>
                        <h6 class="process-box_title">Implementation And Consistency</h6>
                        <div class="process-box_text">
                            <p>Design a personalized workout plan that aligns with your goals and takes into account.</p>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="process-box-wrapper"> 
                    <div class="process-box_img mx-auto">
                        <img src="assets/img/work-process/icon2_1.png" alt="work-process-image">   
                    </div>
                    <div class="process-box style2"> 
                        <div class="process-box_step">STEP - 03</div>
                        <h6 class="process-box_title">Progress Tracking And Adaptation</h6>
                        <div class="process-box_text">
                            <p>Design a personalized workout plan that aligns with your goals and takes into account.</p>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>