<!--==============================
Work process Area  
==============================-->
<div class="work-process-area space-bottom overflow-hidden">
    <div class="shape1"> <img src="assets/img/work-process/work-process-shape1.svg" alt="work-process-shape1"> </div>
    <div class="shape2 d-none d-lg-block"> <img src="assets/img/work-process/work-process-shape1_1.svg" alt="work-process-shape2"> </div> 
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title"><span class="double-line"></span> WORK PROCESS </span>
            <h2 class="sec-title">Easy Step to Achieve Your Goals.</h2>
        </div>
        <div class="row gy-30 justify-content-center">
            <div class="col-md-6 col-lg-4 ">
                <div class="process-box">
                    <div class="process-box-img d-flex justify-content-center mx-auto mb-30 mt-15">
                        <img src="assets/img/work-process/image1_1.png" alt="work-process-image1"> 
                            
                        <div class="step">STEP-01</div>

                    </div>
                    <h6 class="process-box_title">Gym Movement</h6>
                    <div class="process-box_text">
                        <p>Many gyms offer tools and resources to track progress, such as fitness
                            apps, workout logs, or integrated gym software.</p>
                    </div> 
                </div>
            </div>
            <div class="col-md-6 col-lg-4 ">
                <div class="process-box">
                    <div class="process-box-img d-flex justify-content-center mx-auto mb-30 mt-15">
                        <img src="assets/img/work-process/image1_2.png" alt="work-process-image1"> 
                            
                        <div class="step p3">STEP-02</div>

                    </div>
                    <h6 class="process-box_title">Fitness Practice</h6>
                    <div class="process-box_text">
                        <p>Gyms are adaptable to various fitness levels and preferences, catering
                            to beginners and advanced individuals alike.</p>
                    </div>  
                </div>
            </div>
            <div class="col-md-6 col-lg-4 ">
                <div class="process-box">
                    <div class="process-box-img d-flex justify-content-center mx-auto mb-30 mt-15">
                        <img src="assets/img/work-process/image1_3.png" alt="work-process-image1"> 
                            
                        <div class="step p3">STEP-03</div>

                    </div>
                    <h6 class="process-box_title">Achievement</h6>
                    <div class="process-box_text">
                        <p>Group fitness classes led by instructors offer structured workouts in a
                            motivating group setting the development.</p>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>